{% extends "base.html" %}
{% load static %}

{% block content %}
        <div id="wrapper">
            <!-- content-holder  -->
            <div class="content-holder">
                <!--  content -->
                <div class="content">
                    <!--  section  -->


                    <div class="md-stepper-horizontal orange">
                        <div class="md-step">
                            <div class="md-step-circle"><span>1</span></div>
                            <div class="md-step-title">Checkout</div>
                            <div class="md-step-bar-left"></div>
                            <div class="md-step-bar-right"></div>
                        </div>
                        <div class="md-step">
                            <div><span>2</span></div>
                            <div class="md-step-title">Shipping</div>
                            <div class="md-step-bar-left"></div>
                            <div class="md-step-bar-right"></div>
                        </div>
                        <div class="md-step">
                            <div><span>3</span></div>
                            <div class="md-step-title">Printer Finder</div>
                            <div class="md-step-bar-left"></div>
                            <div class="md-step-bar-right"></div>
                        </div>
                        <div class="md-step">
                            <div class><span>4</span></div>
                            <div class="md-step-title">Payment</div>
                            <div class="md-step-bar-left"></div>
                            <div class="md-step-bar-right"></div>
                        </div>
                    </div>


                    <div class="wrap cf">
                        <h1 class="projTitle"><span>Shopping Cart</span></h1>
                        <div class="heading cf">
                            <a href="{% url 'cart:product-list' %}" class="continue">Continue Shopping</a>
                        </div>
                        <div class="cart">
                            <!--    <ul class="tableHead">
      <li class="prodHeader">Product</li>
      <li>Quantity</li>
      <li>Total</li>
       <li>Remove</li>
    </ul>-->
                            {% for item in order.items.all %}
                            <ul class="cartWrap">
                                <li class="items odd">

                                    <div class="infoWrap">
                                        <div class="cartSection">
                                            <img src="{{ item.product.image.url }}" alt="" class="itemImg" />
                                            <p class="itemNumber"></p>
                                            <h3>{{ item.product.title }}</h3>

                                            {% comment %} <p> <input type="text" class="qty" placeholder="3" /> x
                                                ${{ item.product.get_price }}</p> {% endcomment %}
                                            <td>${{ item.product.get_price }}</td>
                                            <td>
                                                <p>
                                                    <a href="{% url 'cart:decrease-quantity' item.id %}" class="qty"
                                                        placeholder="3">
                                                        &minus;
                                                    </a>

                                                    <input type="text" class="qty" placeholder="3"
                                                        value="{{ item.quantity }}">

                                                    <a href="{% url 'cart:increase-quantity' item.id %} " class="qty"
                                                        placeholder="3">
                                                        &plus;
                                                    </a>

                                                </p>
                                            </td>
                                            <td>
                                        </div>

                                        <div class="prodTotal cartSection">
                                            <p>${{ item.get_total_item_price }}</p>
                                        </div>
                                        <div class="cartSection removeWrap">
                                            <a href="{% url 'cart:remove-from-cart' item.id %}" class="remove">x</a>
                                        </div>
                                    </div>
                                </li>
                                {% empty %}
                                <tr>
                                    <td colSpan='6'>
                                        There are no items in your cart.
                                        <a href="{% url 'cart:product-list' %}">Continue shopping</a>
                                    </td>
                                </tr>
                                {% endfor %}


                                <!--<li class="items even">Item 2</li>-->

                            </ul>
                        </div>
                        {% comment %}
                        <div class="promoCode"><label for="promo">Have A Promo Code?</label><input type="text"
                                name="promo" placholder="Enter Code" />
                            <a href="#" class="btn"></a></div> {% endcomment %}

                        <div class="subtotal cf">
                            <ul>
                                <li class="totalRow"><span class="label">Subtotal</span><span
                                        class="value">${{ order.get_subtotal }}</span></li>

                                <li class="totalRow"><span class="label">Shipping</span><span class="value">$0.00</span>
                                </li>

                                <li class="totalRow final"><span class="label">Total</span><span
                                        class="value">${{ order.get_total }}</span></li>
                                <li class="totalRow"><a href="{% url 'cart:checkout' %}"
                                        class="btn continue">Shipping</a></li>
                            </ul>
                        </div>
                    </div>



                    <!--  section  end-->
                </div>
                <!-- content end -->

            </div>
            <!-- content-holder end -->
        </div>
        <!-- wrapper end -->
        <!--search-form-holder -->
        <div class="search-form-holder fixed-search">
            <div class="search-form-bg"></div>
            <div class="search-form-wrap">
                <div class="container">
                    <form class="searchform" method="get">
                        <input type="text" autocomplete="off" name="s" placeholder="Type and Enter to Search">
                    </form>
                    <div class="close-fixed-search"></div>
                </div>
                <div class="dublicated-text"></div>
            </div>
        </div>
        <!--search-form-holder  end-->
        <!-- Share container  -->
        <div class="share-wrapper isShare">
            <div class="share-container"></div>
        </div>
        <!-- Share container  end-->
        <!-- footer -->
        <footer class="main-footer">
            <div class="fixed-title"><span>Product Page</span></div>
            <div class="footer-social">
                <ul>
                    <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fa fa-tumblr"></i></a></li>
                </ul>
            </div>
        </footer>
        <!-- footer end-->
    </div>

{% endblock %}