{% comment %} {% extends "base.html" %}

{% block content %}

<div class="bg-light py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-0">
                <a href="{% url 'index' %}">Home</a>
                <span class="mx-2 mb-0">/</span>
                <strong class="text-black">Cart</strong>
            </div>
        </div>
    </div>
</div>


<div class="site-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-12">
                <div class="site-blocks-table">
                    <table>
                        <thead>
                            <tr>
                                <th>Image</th>
                                <th>Product</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in order.items.all %}
                            <tr>
                                <td class="product-thumbnail">
                                    <img src="{{ item.product.image.url }}" class="img-fluid">
                                </td>
                                <td class="product-name">
                                    <h2 class="h5 text-black">{{ item.product.title }}</h2>
                                    <small>Size: {{ item.size.name }}</small>
                                    <small>Colour: {{ item.colour.name }}</small>
                                </td>
                                <td>${{ item.product.get_price }}</td>
                                <td>
                                    <div class="input-group mb-3" style="max-width: 120px;">
                                        <div class="input-group-prepend">
                                            <a href="{% url 'cart:decrease-quantity' item.id %}"
                                                class="btn btn-outline-primary">
                                                &minus;
                                            </a>
                                        </div>
                                        <input type="text" class="form-control text-center" value="{{ item.quantity }}">
                                        <div class="input-group-append">
                                            <a href="{% url 'cart:increase-quantity' item.id %} "
                                                class="btn btn-outline-primary">
                                                &plus;
                                            </a>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    ${{ item.get_total_item_price }}
                                </td>
                                <td>
                                    <a href="{% url 'cart:remove-from-cart' item.id %}"
                                        class="btn btn-primary btn-sm">X</a>
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colSpan='6'>
                                    There are no items in your cart.
                                    <a href="{% url 'cart:product-list' %}">Continue shopping</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        {% if order.items.count > 0 %}
        <div class="row">
            <div class="col-md-6">
                <div class="row mb-5">
                    <div class="col-md-12">
                        <a class="btn btn-outline-primary btn-sm btn-block"
                            href="{% url 'cart:product-list' %}">Continue shopping</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 pl-5">
                <div class="row justify-content-end">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12 text-right border-bottom mb-5">
                                <h3 class="text-black h4 text-uppercase">Cart Totals</h3>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-6">
                                <span class="text-black">Subtotal</span>
                            </div>
                            <div class="col-md-6 text-right">
                                <strong class="text-black">${{ order.get_subtotal }}</strong>
                            </div>
                        </div>

                        <div class="row mb-5">
                            <div class="col-md-6">
                                <span class="text-black">Total</span>
                            </div>
                            <div class="col-md-6 text-right">
                                <strong class="text-black">${{ order.get_total }}</strong>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <a class="btn btn-primary btn-lg py-3 btn-block"
                                    href="{% url 'cart:checkout' %}">Proceed to checkout</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        {% endif %}

    </div>
</div>

{% endblock content %} {% endcomment %}




{% load static %}
{% load crispy_forms_tags %}
{% load cart_template_tags %}

{% block content %}

<!DOCTYPE HTML>
<html lang="en">

<head>
    <!--=============== basic  ===============-->
    <meta charset="UTF-8">
    <title>Balkon - Creative Responsive Architecture Template</title>
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="robots" content="index, follow" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />



    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'icons/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'icons/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'icons/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'icons/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'icons/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'icons/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'icons/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'icons/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'icons/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'icons/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'icons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'icons/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'icons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'icons/manifest.json' %}">

    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'icons/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700">
    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/aos.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/cart.css' %}">
    <link rel="stylesheet" href="{% static 'css/processLine.css' %}">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
        integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
    <!--=============== css  ===============-->
    <link type="text/css" rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/plugins.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/style_own.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/shop.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/yourstyle.css' %}">
    <!--=============== favicons ===============-->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
</head>

<body>
    <!-- loader -->
    <div class="loader">
        <div id="movingBallG">
            <div class="movingBallLineG"></div>
            <div id="movingBallG_1" class="movingBallG"></div>
        </div>
    </div>
    <!-- loader end -->
    <!--================= Main   ================-->
    <div id="main">
        <!--================= header ================-->
        <header class="main-header">
            <!-- logo -->
            <a class="logo-holder" href="{% url 'index' %}"><img src="{% static 'images/logo.png' %}" alt=""></a>
            <!-- logo end -->
            <!-- share button-->
            <div class="show-share-wrap">
                <div class="show-share"><span>Share</span><img src="{% static 'images/share.png' %}" alt=""></div>
            </div>
            <!-- share button end-->
            <!-- search button-->
            <div class="show-search show-fixed-search vissearch"><i class="fa fa-search"></i></div>
            <!-- search button end -->
            <!-- mobile nav -->
            <div class="nav-button-wrap">
                <div class="nav-button vis-main-menu"><span></span><span></span><span></span></div>
            </div>
            <!-- mobile nav end-->
            <!--  navigation -->
            <div class="nav-holder">
                <nav>
                    <ul>
                        <li>
                            <a href="{% url 'index' %}">Home </a>

                        </li>

                        <li>
                            <a href="{% url 'about'%}">About</a>
                            <!--second level end-->
                            <ul>
                                <li><a href="{% url 'about-personal'%}">Personal</a></li>
                                <li><a href="{% url 'services'%}">Services</a></li>
                            </ul>
                            <!--second level end-->
                        </li>
                        <li>
                            <a href="{% url 'cart:designType-list' %}">Shop</a>
                            <!--second level end-->

                            <!--second level end-->
                        </li>
                        <li>
                            {% if request.user.is_authenticated %}
                            <a href="{% url 'profile' %}"><span><i class="fas fa-user"></i></span></a>
                            {% else %}
                            <a href="{% url 'account_login' %}"><span><i class="fas fa-sign-in-alt"></i></span></a>
                            {% endif %}
                        </li>
                        <li>
                            <a href="{% url 'cart:summary' %}" class="site-cart">
                                <span><i class="fas fa-shopping-cart"></i></span>
                                {% comment %} <span class="count">{{ request|cart_item_count }}</span> {% endcomment %}
                            </a>
                        </li>
                        <li class="d-inline-block d-md-none ml-md-0">
                            <a href="#" class="site-menu-toggle js-menu-toggle">
                                <span><i class="fas fa-bars"></i></span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <!-- navigation  end -->
        </header>
        <!-- header  end -->
        <!--=============== wrapper ===============-->
        <div id="wrapper">
            <!-- content-holder  -->
            <div class="content-holder">
                <!--  content -->
                <div class="content">
                    <!--  section  -->


                    <div class="md-stepper-horizontal orange">
                        <div class="md-step">
                            <div class="md-step-circle"><span>1</span></div>
                            <div class="md-step-title">Checkout</div>
                            <div class="md-step-bar-left"></div>
                            <div class="md-step-bar-right"></div>
                        </div>
                        <div class="md-step">
                            <div><span>2</span></div>
                            <div class="md-step-title">Shipping</div>
                            <div class="md-step-bar-left"></div>
                            <div class="md-step-bar-right"></div>
                        </div>
                        <div class="md-step">
                            <div><span>3</span></div>
                            <div class="md-step-title">Printer Finder</div>
                            <div class="md-step-bar-left"></div>
                            <div class="md-step-bar-right"></div>
                        </div>
                        <div class="md-step">
                            <div class><span>4</span></div>
                            <div class="md-step-title">Payment</div>
                            <div class="md-step-bar-left"></div>
                            <div class="md-step-bar-right"></div>
                        </div>
                    </div>


                    <div class="wrap cf">
                        <h1 class="projTitle"><span>Shopping Cart</span></h1>
                        <div class="heading cf">
                            <a href="{% url 'cart:product-list' %}" class="continue">Continue Shopping</a>
                        </div>
                        <div class="cart">
                            <!--    <ul class="tableHead">
      <li class="prodHeader">Product</li>
      <li>Quantity</li>
      <li>Total</li>
       <li>Remove</li>
    </ul>-->
                            {% for item in order.items.all %}
                            <ul class="cartWrap">
                                <li class="items odd">

                                    <div class="infoWrap">
                                        <div class="cartSection">
                                            <img src="{{ item.product.image.url }}" alt="" class="itemImg" />
                                            <p class="itemNumber"></p>
                                            <h3>{{ item.product.title }}</h3>

                                            {% comment %} <p> <input type="text" class="qty" placeholder="3" /> x
                                                ${{ item.product.get_price }}</p> {% endcomment %}
                                            <td>${{ item.product.get_price }}</td>
                                            <td>
                                                <p>
                                                    <a href="{% url 'cart:decrease-quantity' item.id %}" class="qty"
                                                        placeholder="3">
                                                        &minus;
                                                    </a>

                                                    <input type="text" class="qty" placeholder="3"
                                                        value="{{ item.quantity }}">

                                                    <a href="{% url 'cart:increase-quantity' item.id %} " class="qty"
                                                        placeholder="3">
                                                        &plus;
                                                    </a>

                                                </p>
                                            </td>
                                            <td>
                                        </div>

                                        <div class="prodTotal cartSection">
                                            <p>${{ item.get_total_item_price }}</p>
                                        </div>
                                        <div class="cartSection removeWrap">
                                            <a href="{% url 'cart:remove-from-cart' item.id %}" class="remove">x</a>
                                        </div>
                                    </div>
                                </li>
                                {% empty %}
                                <tr>
                                    <td colSpan='6'>
                                        There are no items in your cart.
                                        <a href="{% url 'cart:product-list' %}">Continue shopping</a>
                                    </td>
                                </tr>
                                {% endfor %}


                                <!--<li class="items even">Item 2</li>-->

                            </ul>
                        </div>
                        {% comment %}
                        <div class="promoCode"><label for="promo">Have A Promo Code?</label><input type="text"
                                name="promo" placholder="Enter Code" />
                            <a href="#" class="btn"></a></div> {% endcomment %}

                        <div class="subtotal cf">
                            <ul>
                                <li class="totalRow"><span class="label">Subtotal</span><span
                                        class="value">${{ order.get_subtotal }}</span></li>

                                <li class="totalRow"><span class="label">Shipping</span><span class="value">$0.00</span>
                                </li>

                                <li class="totalRow final"><span class="label">Total</span><span
                                        class="value">${{ order.get_total }}</span></li>
                                <li class="totalRow"><a href="{% url 'cart:checkout' %}"
                                        class="btn continue">Shipping</a></li>
                            </ul>
                        </div>
                    </div>



                    <!--  section  end-->
                </div>
                <!-- content end -->

            </div>
            <!-- content-holder end -->
        </div>
        <!-- wrapper end -->
        <!--search-form-holder -->
        <div class="search-form-holder fixed-search">
            <div class="search-form-bg"></div>
            <div class="search-form-wrap">
                <div class="container">
                    <form class="searchform" method="get">
                        <input type="text" autocomplete="off" name="s" placeholder="Type and Enter to Search">
                    </form>
                    <div class="close-fixed-search"></div>
                </div>
                <div class="dublicated-text"></div>
            </div>
        </div>
        <!--search-form-holder  end-->
        <!-- Share container  -->
        <div class="share-wrapper isShare">
            <div class="share-container"></div>
        </div>
        <!-- Share container  end-->
        <!-- footer -->
        <footer class="main-footer">
            <div class="fixed-title"><span>Product Page</span></div>
            <div class="footer-social">
                <ul>
                    <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fa fa-tumblr"></i></a></li>
                </ul>
            </div>
        </footer>
        <!-- footer end-->
    </div>
    <!-- Main end -->
    <!--=============== scripts  ===============-->
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/cart.js' %}"></script>


</body>

</html>

{% endblock %}