{% extends "base.html" %}
{% load static %}

{% block content %}
        <div id="wrapper">
            <!-- content-holder  -->
            <div class="content-holder">
                <!--  content -->
                <div class="content">
                    <!--  section  -->


                    <div class="md-stepper-horizontal orange">
                        <div class="md-step">
                            <div><span>1</span></div>
                            <div class="md-step-title">Checkout</div>
                            <div class="md-step-bar-left"></div>
                            <div class="md-step-bar-right"></div>
                        </div>
                        <div class="md-step">
                            <div class="md-step-circle"><span>2</span></div>
                            <div class="md-step-title">Shipping</div>
                            <div class="md-step-bar-left"></div>
                            <div class="md-step-bar-right"></div>
                        </div>
                        <div class="md-step">
                            <div><span>3</span></div>
                            <div class="md-step-title">Printer Finder</div>
                            <div class="md-step-bar-left"></div>
                            <div class="md-step-bar-right"></div>
                        </div>
                        <div class="md-step">
                            <div class><span>4</span></div>
                            <div class="md-step-title">Payment</div>
                            <div class="md-step-bar-left"></div>
                            <div class="md-step-bar-right"></div>
                        </div>
                    </div>

                    <div class="container">
                        {% if not request.user.is_authenticated %}
                        <div class="row mb-5">
                            <div class="col-md-12">
                                <div class="border p-4 rounded" role="alert">
                                    You are nearly finished with your order.
                                    To finalize your order, please <a>Login</a> or <a>Signup</a>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90"
                                        aria-valuemin="0" aria-valuemax="100">90% complete</div>
                                </div>
                            </div>
                        </div>
                        {% else %}

                        <form method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6 mb-5 mb-md-0">
                                   <h1 class="projTitle"><span>Billing Details</span></h1>
                                    <hr />
                                     {{ form|crispy }}
                                    <div class="form-group">
                                <li class="totalRow"><a href="{% url 'cart:printer-finder' %}"
                                        class="btn continue">Find Closest Printer</a></li>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row mb-5">
                                        <div class="col-md-12">
                                          <h1 class="projTitle"><span>Your Order</span></h1>
                                            <hr>
                                            <div class="p-3 p-lg-5">
                                                <table class="table site-block-order-table mb-5">
                                                    <thead>
                                                        <tr>
                                                            <th>Product</th>
                                                            <th>Total</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for item in order.items.all %}
                                                        <tr>
                                                            <td>
                                                                {{ item.size.name }}, {{ item.colour.name }}
                                                                {{ item.product.title }}
                                                                <strong class="mx-2">x</strong> {{ item.quantity }}
                                                            </td>
                                                            <td>
                                                                ${{ item.get_total_item_price }}
                                                            </td>
                                                        </tr>
                                                        {% endfor %}
                                                        <tr>
                                                            <td><strong>Subtotal</strong></td>
                                                            <td>${{ order.get_subtotal }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td><strong class="text-black font-weight-bold">Order
                                                                    Total</strong></td>
                                                            <td>
                                                                <strong class="text-black font-weight-bold">
                                                                    ${{ order.get_total }}
                                                                </strong>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                        {% endif %}
                    </div>


                    <!--search-form-holder -->
                    <div class="search-form-holder fixed-search">
                        <div class="search-form-bg"></div>
                        <div class="search-form-wrap">
                            <div class="container">
                                <form class="searchform" method="get">
                                    <input type="text" autocomplete="off" name="s"
                                        placeholder="Type and Enter to Search">
                                </form>
                                <div class="close-fixed-search"></div>
                            </div>
                            <div class="dublicated-text"></div>
                        </div>
                    </div>
                    <!--search-form-holder  end-->
                    <!-- Share container  -->
                    <div class="share-wrapper isShare">
                        <div class="share-container"></div>
                    </div>
                    <!-- Share container  end-->
                    <!-- footer -->
                    <footer class="main-footer">
                        <div class="fixed-title"><span>Product Page</span></div>
                        <div class="footer-social">
                            <ul>
                                <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fa fa-tumblr"></i></a></li>
                            </ul>
                        </div>
                    </footer>
                    <!-- footer end-->
                </div>
{% endblock %}