{% extends "base.html" %}
{% load static %}

{% block content %}
        <div id="wrapper">
            <!-- content-holder  -->
            <div class="content-holder">
                <!--  content -->
                <div class="content">
                    <!--  section  -->


                    <div class="md-stepper-horizontal orange">
                        <div class="md-step">
                            <div><span>1</span></div>
                            <div class="md-step-title">Checkout</div>
                            <div class="md-step-bar-left"></div>
                            <div class="md-step-bar-right"></div>
                        </div>
                        <div class="md-step">
                            <div><span>2</span></div>
                            <div class="md-step-title">Shipping</div>
                            <div class="md-step-bar-left"></div>
                            <div class="md-step-bar-right"></div>
                        </div>
                        <div class="md-step">
                            <div class="md-step-circle"><span>3</span></div>
                            <div class="md-step-title">Printer Finder</div>
                            <div class="md-step-bar-left"></div>
                            <div class="md-step-bar-right"></div>
                        </div>
                        <div class="md-step">
                            <div class><span>4</span></div>
                            <div class="md-step-title">Payment</div>
                            <div class="md-step-bar-left"></div>
                            <div class="md-step-bar-right"></div>
                        </div>
                    </div>

                    {% comment %} <div class="form-group">
                        <button class="btn btn-primary btn-lg py-3 btn-block">
                            Proceed to payment
                        </button>
                    </div> {% endcomment %}
                           <div class="Printers fl-wrap">
                                <!-- product item-->{% for dimensionalPrinter in Printers %}
                                 {{dimensionalPrinter.title}}
                                <!-- product item end-->
                                {% endfor %}
                            </div>

                    <!--search-form-holder  end-->
                    <!-- Share container  -->
                    <div class="share-wrapper isShare">
                        <div class="share-container"></div>
                    </div>
                    <!-- Share container  end-->
                    <!-- footer -->
                    <footer class="main-footer">
                        <div class="fixed-title"><span>Product Page</span></div>
                        <div class="footer-social">
                            <ul>
                                <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fa fa-tumblr"></i></a></li>
                            </ul>
                        </div>
                    </footer>
                    <!-- footer end-->
                </div>
{% endblock %}