{% comment %} {% extends "base.html" %}

{% block content %}

<div class="bg-light py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-0">
                <a href="{% url 'index' %}">Home</a>
                <span class="mx-2 mb-0">/</span>
                <strong class="text-black">Shop</strong>
            </div>
        </div>
    </div>
</div>

<div class="site-section">
    <div class="container">
        <div class="row mb-5">
            {% for product in object_list %}
            <div class="col-lg-4 col-md-6 mb-4" data-aos='fade-up'>

                <figure class="block-4-image">
                    <a href="{{ product.get_absolute_url }}"><img src="{{ product.image.url }}" class="img-fluid"></a>
                </figure>

                <div class="block-4-text p-4">
                    <a href="{{ product.get_absolute_url }}">
                        <h3>{{ product.title }}</h3>
                    </a>
                    <p class="mb-0">{{ product.description }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %} {% endcomment %}



{% load static %}
{% load cart_template_tags %}

{% block content %}


<!DOCTYPE HTML>
<html lang="en">

<head>
    <!--=============== basic  ===============-->
    <meta charset="UTF-8">
    <title>Balkon - Creative Responsive Architecture Template</title>
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="robots" content="index, follow" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />



    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'icons/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'icons/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'icons/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'icons/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'icons/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'icons/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'icons/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'icons/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'icons/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'icons/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'icons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'icons/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'icons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'icons/manifest.json' %}">

    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'icons/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700">
    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/aos.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
        integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />

    <!--=============== css  ===============-->
    <link type="text/css" rel="stylesheet" href="{% static 'css/reset.css'%}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/plugins.css'%}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/style_own.css'%}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/shop.css'%}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/yourstyle.css'%}">
    <!--=============== favicons ===============-->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
</head>

<body>
    <!-- loader -->
    <div class="loader">
        <div id="movingBallG">
            <div class="movingBallLineG"></div>
            <div id="movingBallG_1" class="movingBallG"></div>
        </div>
    </div>
    <!-- loader end -->
    <!--================= Main   ================-->
    <div id="main">
        <!--================= header ================-->
        <header class="main-header">
            <!-- logo -->
            <a class="logo-holder" href="{% url 'index' %}"><img src="{% static 'images/logo.png'%}" alt=""></a>
            <!-- logo end -->
            <!-- share button-->
            <div class="show-share-wrap">
                <div class="show-share"><span>Share</span><img src="{% static 'images/share.png'%}" alt=""></div>
            </div>
            <!-- share button end-->
            <!-- search button-->
            <div class="show-search show-fixed-search vissearch"><i class="fa fa-search"></i></div>
            <!-- search button end -->
            <!-- mobile nav -->
            <div class="nav-button-wrap">
                <div class="nav-button vis-main-menu"><span></span><span></span><span></span></div>
            </div>
            <!-- mobile nav end-->
            <!--  navigation -->
            <div class="nav-holder">
                <nav>
                    <ul>
                        <li>
                            <a href="{% url 'index' %}">Home </a>

                        </li>

                        <li>
                            <a href="{% url 'about'%}">About</a>
                            <!--second level end-->
                            <ul>
                                <li><a href="{% url 'about-personal'%}">Personal</a></li>
                                <li><a href="{% url 'services'%}">Services</a></li>
                            </ul>
                            <!--second level end-->
                        </li>
                        <li>
                                <a href="{% url 'cart:designType-list' %}">Shop</a> 
                            <!--second level end-->

                            <!--second level end-->
                        </li>
                        <li>
                            {% if request.user.is_authenticated %}
                            <a href="{% url 'profile' %}"><span><i class="fas fa-user"></i></span></a>
                            {% else %}
                            <a href="{% url 'account_login' %}"><span><i class="fas fa-sign-in-alt"></i></span></a>
                            {% endif %}
                        </li>
                        <li>
                            <a href="{% url 'cart:summary' %}" class="site-cart">
                                <span><i class="fas fa-shopping-cart"></i></span>
                                {% comment %} <span class="count">{{ request|cart_item_count }}</span> {% endcomment %}
                            </a>
                        </li>
                        <li class="d-inline-block d-md-none ml-md-0">
                            <a href="#" class="site-menu-toggle js-menu-toggle">
                                <span><i class="fas fa-bars"></i></span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <!-- navigation  end -->
        </header>
        <!-- header  end -->
        <!--=============== wrapper ===============-->
        <div id="wrapper">
            <!-- content-holder  -->
            <div class="content-holder">
                <!--  content -->
                <div class="content">
                    <!--  section  -->

                    <!--  section end -->
                    <!--  section  -->
                    <section>
                        <div class="container">
                            <div class="product-filter-wrap fl-wrap">
                                <div class="product-cat-filter">
                                    <span>Filter : </span>
                                    <a href="#">Chair</a>
                                    <a href="#">Decor</a>
                                    <a href="#">Sofa</a>
                                    <a href="#">Lamp</a>
                                </div>
                                <div class="product-cat-filter">
                                    <span>Price : </span>
                                    <a href="#">Low to high</a>
                                    <a href="#">High to low</a>
                                </div>
                                <a href="#" class="btn   flat-btn show-exfilter">Extended Filter</a>
                            </div>
                            <div class="product-mainfilter  fl-wrap">
                                <div class="row">
                                    <!-- product-mainfilter-item-->
                                    <div class="col-md-4">
                                        <div class="product-mainfilter-item fl-wrap">
                                            <span class="product-mainfilter-header">Material</span>
                                            <ul class="material-list">
                                                <li><a href="#">Wood</a></li>
                                                <li><a href="#">Plastic</a></li>
                                                <li><a href="#">Metal</a></li>
                                                <li><a href="#">Textile</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- product-mainfilter-item end -->
                                    <!-- product-mainfilter-item-->
                                    <div class="col-md-4">
                                        <div class="product-mainfilter-item fl-wrap">
                                            <span class="product-mainfilter-header">Color</span>
                                            <ul class="colorfilter-list">
                                                <li><a href="#" style="background:#B3CCE6"></a></li>
                                                <li><a href="#" style="background:#CC8080"> </a></li>
                                                <li><a href="#" style="background:#CCE6B3"> </a></li>
                                                <li><a href="#" style="background:#E6E680"> </a></li>
                                                <li><a href="#" style="background:#B3E6E6"> </a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- product-mainfilter-item end -->
                                    <!-- product-mainfilter-item-->
                                    <div class="col-md-4">
                                        <div class="product-mainfilter-item fl-wrap no-decline">
                                            <span class="product-mainfilter-header">Size</span>
                                            <ul class="size-list">
                                                <li><a href="#">XL/XXl</a></li>
                                                <li><a href="#">M/L</a></li>
                                                <li><a href="#">S/M</a></li>
                                                <li><a href="#">XS/S</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- product-mainfilter-item end -->
                                </div>
                            </div>
                            <!-- products -->

                            <div class="products fl-wrap">
                                {% for threeDimensionalDesign in object_list %}
                                {%if threeDimensionalDesign.typeName == "Toys"%}
                                <div class="product-cat-mains">
                                    <div class="product-cat-img fl-wrap">
                                        <img src="{{ threeDimensionalDesign.image.url }}" alt="">
                                        <a href="{{ threeDimensionalDesign.get_absolute_url }}">View</a>
                                    </div>
                                    <div class="product-cat-title">
                                        <h4><a href="{{ threeDimensionalDesign.get_absolute_url }}">{{ threeDimensionalDesign.title }}</a></h4>
                                        <div class="product-cats"><a href="#">Products</a></div>
                                    </div>
                                </div>
                                <!-- product item end-->
                                {% endif %}
                                {% endfor %}
                            </div>

                            <!-- products end -->
                            <div class="content-nav">
                                <ul>
                                    <li><a href="{% url 'portfolio-single'%}" class="ln"><i
                                                class="fa fa fa-angle-left"></i><span class="tooltip">Prev - Page
                                                1</span></a></li>
                                    <li>
                                        <a href="#" class="cur-page"><span>Page 02. </span></a>
                                    </li>
                                    <li><a href="{% url 'portfolio-single2'%}" class="rn"><i
                                                class="fa fa fa-angle-right"></i><span class="tooltip">Next - Page 3
                                            </span></a></li>
                                </ul>
                            </div>
                        </div>
                    </section>
                    <!--  section end -->
                </div>
                <!-- content end -->
                <div class="show-cart"><i class="fa fa-shopping-cart"></i><span>3</span></div>

                <div class="cart-overlay"></div>
                <div class="cart-modal">
                    <div class="cart-modal-wrap fl-wrap">
                        <span class="close-cart">Close <i class="fa fa-times"></i> </span>
                        <h3>Your cart</h3>
                        <ul class="cart-modal-list fl-wrap">
                            <li>
                                <a class="cart-modal-image" href="{{ product.get_absolute_url }}">
                                    <img src="{% static 'images/shop/1.jpg'%}" alt="">
                                </a>
                                <div class="cart-modal-det">
                                    <a href="{{ product.get_absolute_url }}">Amazing Lamp</a>
                                    <div class="quantity"><span>1</span> x <span
                                            class="woocommerce-Price-amount">$560</span></div>
                                </div>
                                <a href="#" class="remove"><i class="fa fa-times"></i></a>
                            </li>
                            <li>
                                <a class="cart-modal-image" href={{ product.get_absolute_url }}>
                                    <img src="{% static 'images/shop/1.jpg'%}" alt="">
                                </a>
                                <div class="cart-modal-det">
                                    <a href="{{ product.get_absolute_url }}">Metal Wood Chair</a>
                                    <div class="quantity"><span>1</span> x <span
                                            class="woocommerce-Price-amount">$170</span></div>
                                </div>
                                <a href="#" class="remove"><i class="fa fa-times"></i></a>
                            </li>
                            <li>
                                <a class="cart-modal-image" href="{{ product.get_absolute_url }}">
                                    <img src="{% static 'images/shop/1.jpg'%}" alt="">
                                </a>
                                <div class="cart-modal-det">
                                    <a href="{{ product.get_absolute_url }}">White Sofa</a>
                                    <div class="quantity"><span>2</span> x <span
                                            class="woocommerce-Price-amount">$160</span></div>
                                </div>
                                <a href="#" class="remove"><i class="fa fa-times"></i></a>
                            </li>
                        </ul>
                        <div class="cart-modal-total fl-wrap">
                            <span class="cart-modal-total-title">SUBTOTAL:</span> <span
                                class="woocommerce-Price-amount"> $1050</span>
                        </div>
                        <a href="#" class="btn float-btn flat-btn">View Cart</a>
                        <a href="#" class="btn float-btn flat-btn">Checkout</a>
                    </div>
                </div>
            </div>
            <!-- content-holder end -->
        </div>
        <!-- wrapper end -->
        <!--search-form-holder -->
        <div class="search-form-holder fixed-search">
            <div class="search-form-bg"></div>
            <div class="search-form-wrap">
                <div class="container">
                    <form class="searchform" method="get">
                        <input type="text" autocomplete="off" name="s" placeholder="Type and Enter to Search">
                    </form>
                    <div class="close-fixed-search"></div>
                </div>
                <div class="dublicated-text"></div>
            </div>
        </div>
        <!--search-form-holder  end-->
        <!-- Share container  -->
        <div class="share-wrapper isShare">
            <div class="share-container"></div>
        </div>
        <!-- Share container  end-->
        <!-- footer -->
        <footer class="main-footer">
            <div class="fixed-title"><span>Shop</span></div>
            <div class="footer-social">
                <ul>
                    <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fa fa-tumblr"></i></a></li>
                </ul>
            </div>
        </footer>
        <!-- footer end-->
    </div>
    <!-- Main end -->
    <!--=============== scripts  ===============-->
    <script type="text/javascript" src="{% static 'js/jquery.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/plugins.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/scripts.js'%}"></script>
</body>

</html>


{% endblock content %}