{% extends "base.html" %}
{% load static %}

{% block content %}
        <div id="wrapper">
            <!-- content-holder  -->

            <!-- content -->


            <div class="container">
                <div class="rightbox">
                    <div class="mid">
                        <div class="profile">

                            <div class="row justify-content-center">
                                <div class="col-md-12">
                                    <form method="POST">
                                        {% csrf_token %}
                                        {{ form|crispy }}
                                        <button type='submit' class='btn btn-primary'>Submit</button>
                                    </form>
                                </div>


                            </div>


                        </div>
                    </div>


                </div>

            </div>
        </div>



    </div>
    </div>

{% endblock content %}
