{% extends "base.html" %}
{% load static %}

{% block content %}
        <div id="wrapper">
            <!-- content-holder  -->

            <!-- content -->


            <div class="container">

                <div class="leftbox">
                    <nav>
                        <a id="profile" href="{% url 'profile' %}"><i class="fa fa-user"></i></a>
                        <a id="payment" href="{% url 'core:designer-list' %}" class="active"><i
                                class="fas fa-palette"></i></a>
                        <a id="payment" href="{% url 'core:personalDimensionalPrinters-list' %}"><i
                                class="fas fa-cubes"></i></a>
                        <a id="payment" href="{% url 'core:caravan-list' %}"><i class="fas fa-cogs"></i></a>
                    </nav>
                </div>
                <div class="rightbox">
                    <div class="mid">
                        <div class="profile">

                            <div class="row justify-content-center">
                                <div class="col-md-12">
                                    <form method="POST">
                                        {% csrf_token %}
                                        {{ form|crispy }}
                                        <button type='submit' class='btn btn-primary'>Submit</button>
                                    </form>
                                </div>


                            </div>


                        </div>
                    </div>


                </div>

            </div>
        </div>



    </div>
    </div>

{% endblock content %}
