{% load static %}
{% load cart_template_tags %}


<!DOCTYPE HTML>
<html lang="en">

<head>
    <!--=============== basic  ===============-->
    <meta charset="UTF-8">
    <title>Car(avan.)</title>
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="robots" content="index, follow" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />


    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'icons/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'icons/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'icons/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'icons/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'icons/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'icons/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'icons/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'icons/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'icons/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'icons/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'icons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'icons/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'icons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'icons/manifest.json' %}">

    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'icons/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700">
    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/aos.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
        integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />

    <!--=============== css  ===============-->
    <link type="text/css" rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/plugins.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/style_own.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/yourstyle.css' %}">
    <!--=============== favicons ===============-->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
</head>

<body>
    <!-- loader -->
    <div class="loader">
        <div id="movingBallG">
            <div class="movingBallLineG"></div>
            <div id="movingBallG_1" class="movingBallG"></div>
        </div>
    </div>
    <!-- loader end -->
    <!--================= Main   ================-->
    <div id="main">
        <!--================= header ================-->
        <header class="main-header">
            <!-- logo -->
            <a class="logo-holder" href="{% url 'index' %}"><img src="{% static 'images/logo.png' %}" alt=""></a>
            <!-- logo end -->
            <!-- share button-->
            <div class="show-share-wrap">
                <div class="show-share"><span>Share</span><img src="{% static 'images/share.png' %}" alt=""></div>
            </div>
            <!-- share button end-->
            <!-- search button-->
            <div class="show-search show-fixed-search vissearch"><i class="fa fa-search"></i></div>
            <!-- search button end -->
            <!-- mobile nav -->
            <div class="nav-button-wrap">
                <div class="nav-button vis-main-menu"><span></span><span></span><span></span></div>
            </div>
            <!-- mobile nav end-->
            <!-- filter  -->
            <div class="menufilter">
                <div class="gallery-filters hid-filter">
                    <a href="#" class="gallery-filter gallery-filter-active" data-filter="*">All Works</a>
                    <a href="{% static '#" class="gallery-filter " data-filter=".houses' %}">Houses</a>
                    <a href="{% static '#" class="gallery-filter" data-filter=".apartments' %}">Apartments</a>
                    <a href="{% static '#" class="gallery-filter" data-filter=".interior' %}">Interior</a>
                    <a href="{% static '#" class="gallery-filter" data-filter=".design' %}">Design</a>
                    <div class="count-folio round-counter">
                        <div class="num-album"></div>
                        <div class="all-album"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="filter-button">Filter</div>
            </div>
            <!-- filter end -->
            <!--  navigation -->
            <div class="nav-holder">
                <nav>
                    <ul>
                        <li>
                            <a href="{% url 'index' %}">Home </a>

                        </li>


                        <li>
                                <a href="{% url 'cart:product-list' %}">Shop</a> 

                        </li>

                        <li>
                            {% if request.user.is_authenticated %}
                            <a href="{% url 'profile' %}" class="act-link"><span><i class="fas fa-user"></i></span></a>
                            {% else %}
                            <a href="{% url 'account_login' %}"><span><i class="fas fa-sign-in-alt"></i></span></a>
                            {% endif %}
                        </li>
                        <li>
                            <a href="{% url 'cart:summary' %}" class="site-cart">
                                <span><i class="fas fa-shopping-cart"></i></span>
                                {% comment %} <span class="count">{{ request|cart_item_count }}</span> {% endcomment %}
                            </a>
                        </li>
                        <li class="d-inline-block d-md-none ml-md-0">
                            <a href="#" class="site-menu-toggle js-menu-toggle">
                                <span><i class="fas fa-bars"></i></span>
                            </a>
                        </li>

                    </ul>
                </nav>
            </div>
            <!-- navigation  end -->
        </header>
        <!-- header  end -->
        <!--=============== wrapper ===============-->
        <div id="wrapper">
            <!-- content-holder  -->

            <!-- content -->


            <div class="container">

                <div class="leftbox">
                    <nav>
                        <a id="profile" href="{% url 'profile' %}"><i class="fa fa-user"></i></a>

                        <a id="payment" href="{% url 'core:personalDimensionalPrinters-list' %}" class="active"><i
                                class="fas fa-cubes"></i></a>
                        <a id="payment" href="{% url 'core:personalInfo-update' %}"><i class="fas fa-cogs"></i></a>
                    </nav>
                </div>
                <div class="rightbox">
                    <div class="mid">
                        <div class="profile">

                            <div class="row justify-content-center">
                                <div class="col-md-12">
                                    <hr />
                                    <div class="site-blocks-table">



                                        <div class="container">
                                            <div class="row justify-content-center">
                                                <div class="col-md-12">

                                                    <div class="card">
                                                        <div class="card-body">
                                                            <div class="site-blocks-table">
                                                                <table class="table">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>Image</th>
                                                                            <th>Title.</th>
                                                                            <th>Price</th>
                                                                            <th>Actions</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        {% for dimensionalPrinter in dimensionalPrinters %}
                                                                        {% if dimensionalPrinter.email == request.user.email %}
                                                                        <tr>
                                                                            <td>
                                                                                <img src="{{ dimensionalPrinter.image.url }}"
                                                                                    class="img-fluid">

                                                                            </td>
                                                                            <td>{{ dimensionalPrinter.title }}</td>
                                                                            <td>${{ dimensionalPrinter.get_price }}
                                                                            </td>
                                                                            <td>
                                                                                <a
                                                                                    href="{{ dimensionalPrinter.get_update_url }}">Update</a>
                                                                                <a tabindex="0"
                                                                                    class="btn btn-sm btn-primary"
                                                                                    role='button' data-html='true'
                                                                                    data-toggle='popover'
                                                                                    data-trigger='focus'
                                                                                    title='Are you sure you want to delete this printer?'
                                                                                    data-content="<a href='{{ dimensionalPrinter.get_delete_url }}'>Confirm</a>">
                                                                                    X
                                                                                </a>

                                                                            </td>

                                                                        </tr>
                                                                        {% endif %}
                                                                        {% empty %}
                                                                        <tr>
                                                                            <td colspan="3">You don't have any
                                                                                printers</td>
                                                                        </tr>

                                                                        {% endfor %}
                                                                    </tbody>
                                                                </table>
                                                            </div>

                                                            {% if page_obj.has_other_pages %}
                                                            <div class="row">
                                                                <div class="col-md-12 text-center">
                                                                    <div class="site-block-27">
                                                                        <ul>
                                                                            {% if page_obj.has_previous %}
                                                                            <li><a
                                                                                    href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
                                                                            </li>
                                                                            {% else %}
                                                                            <li class='disabled'>
                                                                                <span>&laquo;</span></li>
                                                                            {% endif %}

                                                                            {% for i in paginator.page_range %}
                                                                            {% if page_obj.number == i %}
                                                                            <li class='active'>
                                                                                <span>
                                                                                    {{ i }}
                                                                                    <span
                                                                                        class='sr-only'>(current)</span>
                                                                                </span>
                                                                            </li>
                                                                            {% else %}
                                                                            <li><a href="?page={{ i }}">{{ i }}</a>
                                                                            </li>
                                                                            {% endif %}
                                                                            {% endfor %}

                                                                            {% if page_obj.has_next %}
                                                                            <li><a
                                                                                    href="?page={{ page_obj.next_page_number }}">&raquo;</a>
                                                                            </li>
                                                                            {% else %}
                                                                            <li class='disabled'>
                                                                                <span>&raquo;</span></li>
                                                                            {% endif %}
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            {% endif %}

                                                        </div>
                                                        <a class="btn-3"
                                                            href="{% url 'core:dimensionalPrinters-create' %}"><span>
                                                                Add 3D
                                                                printer </span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>






                                    </div>

                                </div>


                            </div>


                        </div>
                    </div>


                </div>

            </div>
        </div>

    </div>
    </div>



    </div>
    <!-- Main end -->
    <!--=============== scripts  ===============-->
    <script type="text/javascript" src="{% static 'js/profile.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>

</body>


</html>