{% extends "base.html" %}
{% load static %}

{% block content %}
        <div id="wrapper">
            <!-- content-holder  -->

            <!-- content -->


            <div class="container">

                <div class="leftbox">
                    <nav>
                        <a id="profile" href="{% url 'profile' %}"><i class="fa fa-user"></i></a>

                        <a id="payment" href="{% url 'core:personalDimensionalPrinters-list' %}" class="active"><i
                                class="fas fa-cubes"></i></a>
                        <a id="payment" href="{% url 'core:personalInfo-update' %}"><i class="fas fa-cogs"></i></a>
                    </nav>
                </div>
                <div class="rightbox">
                    <div class="mid">
                        <div class="profile">

                            <div class="row justify-content-center">
                                <div class="col-md-12">
                                    <hr />
                                    <div class="site-blocks-table">



                                        <div class="container">
                                            <div class="row justify-content-center">
                                                <div class="col-md-12">

                                                    <div class="card">
                                                        <div class="card-body">
                                                            <div class="site-blocks-table">
                                                                <table class="table">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>Image</th>
                                                                            <th>Title.</th>
                                                                            <th>Price</th>
                                                                            <th>Actions</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        {% for dimensionalPrinter in dimensionalPrinters %}
                                                                        {% if dimensionalPrinter.email == request.user.email %}
                                                                        <tr>
                                                                            <td>
                                                                                <img src="{{ dimensionalPrinter.image.url }}"
                                                                                    class="img-fluid">

                                                                            </td>
                                                                            <td>{{ dimensionalPrinter.title }}</td>
                                                                            <td>${{ dimensionalPrinter.get_price }}
                                                                            </td>
                                                                            <td>
                                                                                <a
                                                                                    href="{{ dimensionalPrinter.get_update_url }}">Update</a>
                                                                                <a tabindex="0"
                                                                                    class="btn btn-sm btn-primary"
                                                                                    role='button' data-html='true'
                                                                                    data-toggle='popover'
                                                                                    data-trigger='focus'
                                                                                    title='Are you sure you want to delete this printer?'
                                                                                    data-content="<a href='{{ dimensionalPrinter.get_delete_url }}'>Confirm</a>">
                                                                                    X
                                                                                </a>

                                                                            </td>

                                                                        </tr>
                                                                        {% endif %}
                                                                        {% empty %}
                                                                        <tr>
                                                                            <td colspan="3">You don't have any
                                                                                printers</td>
                                                                        </tr>

                                                                        {% endfor %}
                                                                    </tbody>
                                                                </table>
                                                            </div>

                                                            {% if page_obj.has_other_pages %}
                                                            <div class="row">
                                                                <div class="col-md-12 text-center">
                                                                    <div class="site-block-27">
                                                                        <ul>
                                                                            {% if page_obj.has_previous %}
                                                                            <li><a
                                                                                    href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
                                                                            </li>
                                                                            {% else %}
                                                                            <li class='disabled'>
                                                                                <span>&laquo;</span></li>
                                                                            {% endif %}

                                                                            {% for i in paginator.page_range %}
                                                                            {% if page_obj.number == i %}
                                                                            <li class='active'>
                                                                                <span>
                                                                                    {{ i }}
                                                                                    <span
                                                                                        class='sr-only'>(current)</span>
                                                                                </span>
                                                                            </li>
                                                                            {% else %}
                                                                            <li><a href="?page={{ i }}">{{ i }}</a>
                                                                            </li>
                                                                            {% endif %}
                                                                            {% endfor %}

                                                                            {% if page_obj.has_next %}
                                                                            <li><a
                                                                                    href="?page={{ page_obj.next_page_number }}">&raquo;</a>
                                                                            </li>
                                                                            {% else %}
                                                                            <li class='disabled'>
                                                                                <span>&raquo;</span></li>
                                                                            {% endif %}
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            {% endif %}

                                                        </div>
                                                        <a class="btn-3"
                                                            href="{% url 'core:dimensionalPrinters-create' %}"><span>
                                                                Add 3D
                                                                printer </span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>






                                    </div>

                                </div>


                            </div>


                        </div>
                    </div>


                </div>

            </div>
        </div>

    </div>
    </div>

{% endblock %}

   