<!DOCTYPE HTML>
<html lang="en">
    <head>
        <!--=============== basic  ===============-->
        <meta charset="UTF-8">
        <title>Balkon - Creative  Responsive  Architecture Template</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="robots" content="index, follow"/>
        <meta name="keywords" content=""/>
        <meta name="description" content=""/>
        <!--=============== css  ===============-->	
        <link type="text/css" rel="stylesheet" href="css/reset.css">
        <link type="text/css" rel="stylesheet" href="css/plugins.css">
        <link type="text/css" rel="stylesheet" href="css/style.css">
        <link type="text/css" rel="stylesheet" href="css/yourstyle.css">
        <!--=============== favicons ===============-->
        <link rel="shortcut icon" href="images/favicon.ico">
    </head>
    <body>
        <!-- loader -->
        <div class="loader">
            <div id="movingBallG">
                <div class="movingBallLineG"></div>
                <div id="movingBallG_1" class="movingBallG"></div>
            </div>
        </div>
        <!-- loader end -->
        <!--================= Main   ================-->
        <div id="main">
            <!--================= header ================-->
            <header class="main-header">
                <!-- logo -->
                <a class="logo-holder" href="index.html"><img src="images/logo.png" alt=""></a>
                <!-- logo end -->  
                <!-- share button-->  
                <div class="show-share-wrap">
                    <div class="show-share"><span>Share</span><img src="images/share.png" alt=""></div>
                </div>
                <!-- share button end-->  		
                <!-- search button--> 	 
                <div class="show-search show-fixed-search vissearch"><i class="fa fa-search"></i></div>
                <!-- search button end --> 
                <!-- mobile nav --> 
                <div class="nav-button-wrap">
                    <div class="nav-button vis-main-menu"><span></span><span></span><span></span></div>
                </div>
                <!-- mobile nav end--> 
                <!--  navigation --> 
                <div class="nav-holder">
                    <nav>
                        <ul>
                            <li>
                                <a href="index.html">Home </a>
                                <!--second level -->   
                                <ul>
                                    <li><a href="index.html">Slider</a></li>
                                    <li><a href="index2.html">Image</a></li>
                                    <li><a href="index3.html">Video</a></li>
                                    <li><a href="index4.html">Slideshow</a></li>
                                    <li><a href="index5.html">Carousel</a></li>
                                    <li><a href="index6.html">Sidebar menu</a></li>
                                    <li>
                                        <!--third level -->
                                        <a>Onepage</a>
                                        <ul>
											<li><a href="onepage-slider.html">Slider</a></li>
											<li><a href="onepage-image.html">Image</a></li>
											<li><a href="onepage-video.html">Video</a></li>
											<li><a href="onepage-slideshow.html">Slideshow</a></li>
											<li><a href="onepage-carousel.html">Carousel</a></li>
											<li><a href="onepage-sidebarmenu.html">Sidebar menu</a></li>
                                        </ul>
                                        <!--third level end-->
                                    </li>									
                                </ul>
                                <!--second level end-->
                            </li>
                            <li>
                                <a href="portfolio.html">Portfolio</a>
                                <!--second level -->
                                <ul>
                                    <li>
                                        <!--third level -->
                                        <a>Single</a>
                                        <ul>
                                            <li><a href="portfolio-single.html">Carousel</a></li>
                                            <li><a href="portfolio-single2.html">Gallery </a></li>
                                            <li><a href="portfolio-single3.html">Fullwidth Slider</a></li>
                                            <li><a href="portfolio-single4.html">Slider</a></li>
                                            <li><a href="portfolio-single5.html">Video</a></li>
                                            <li><a href="portfolio-single6.html">Vertical Images</a></li>
                                        </ul>
                                        <!--third level end-->
                                    </li>
                                    <li><a href="portfolio2.html">Fullwidth 2</a></li>
                                    <li><a href="portfolio3.html">Sibebar filter</a></li>
                                    <li><a href="portfolio4.html">Boxed</a></li>
                                    <li><a href="portfolio5.html">Boxed 2</a></li>
                                    <li><a href="portfolio6.html">Sibebar filter 2</a></li>
                                    <li><a href="portfolio7.html">Parallax</a></li>
                                    <li><a href="portfolio8.html">Fullwidth 3</a></li>
                                    <li><a href="portfolio9.html">Fullwidth 4</a></li>
                                </ul>
                                <!--second level end-->
                            </li>
                            <li>
                                <a href="about.html"  >About</a>
                                <!--second level end-->
                                <ul>
                                    <li><a href="about-personal.html">Personal</a></li>
                                    <li><a href="services.html">Services</a></li>
                                </ul>
                                <!--second level end-->
                            </li>
                            <li>
                                <a href="contact.html">Contacts </a>
                            </li>
                            <li>
                                <a href="shop.html">Shop</a>
                                <!--second level end-->
                                <ul>
                                    <li><a href="cart.html">Cart</a></li>
                                    <li><a href="product-single.html">Product Single</a></li>
                                </ul>
                                <!--second level end-->
                            </li>
                            <li>
                                <a href="blog.html">Journal</a>
                                <!--second level end-->
                                <ul>
                                    <li><a href="blog-grid.html">Grid</a></li>
                                    <li><a href="blog-masonry.html">Masonry</a></li>
                                    <li><a href="blog-single.html">Post Single</a></li>
                                    <li><a href="404.html">404</a></li>
                                </ul>
                                <!--second level end-->
                            </li>
                        </ul>
                    </nav>
                </div>
                <!-- navigation  end -->
            </header>
            <!-- header  end -->
            <!--=============== wrapper ===============-->
            <div id="wrapper">
                <!-- content-holder  -->
                <div class="content-holder">
                    <!--  content --> 
                    <div class="content full-height">
                        <div class="error-wrap">
                            <div class="container">
                                <h2>404</h2>
                                <p> The Page you were looking for, couldn't be found.</p>
                                <a href="index.html" class="btn float-btn flat-btn">Back to home</a>     
                            </div>
                        </div>
                        <div class="partcile-dec" data-parcount="200"></div>
                    </div>
                    <!--=============== content-footer   ===============-->
                    <div class="height-emulator"></div>
                    <footer class="content-footer">
                        <div class="footer-inner">
                            <div class="row">
                                <div class="col-md-3">
                                    <a class="footer-logo" href="index.html"><img src="images/logo.png" alt=""></a>
                                </div>
                                <div class="col-md-4">
                                    <div class="footer-header fl-wrap"><span>01.</span> Contacts</div>
                                    <div class="footer-box fl-wrap">
                                        <ul>
                                            <li><span>Mail :</span><a href="#" target="_blank">yourmail@domain.com</a></li>
                                            <li> <span>Adress :</span><a href="#" target="_blank">USA 27TH Brooklyn NY</a></li>
                                            <li><span>Phone :</span><a href="#">+7(111)123456789</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="footer-header fl-wrap"><span>02.</span> Subscribe</div>
                                    <div class="footer-box fl-wrap">
                                        <div class="subcribe-form fl-wrap">
                                            <span>Newsletter</span>
                                            <form id="subscribe">
                                                <input class="enteremail" name="email" id="subscribe-email" placeholder="email" spellcheck="false" type="text">
                                                <button type="submit" id="subscribe-button" class="subscribe-button">Submit</button>
                                                <label for="subscribe-email" class="subscribe-message"></label>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="col-md-9">
                                    <div class="fl-wrap policy-box">
                                        <p> &#169; Balka   2017.  All rights reserved.  </p>
                                    </div>
                                </div>
                            </div>
                            <div class="to-top"><i class="fa fa-long-arrow-up"></i></div>
                        </div>
                    </footer>
                    <!-- content-footer end    -->
                </div>
                <!-- content-holder end -->
            </div>
            <!-- wrapper end -->
            <!--search-form-holder -->  
            <div class="search-form-holder fixed-search">
                <div class="search-form-bg"></div>
                <div class="search-form-wrap">
                    <div class="container">
                        <form class="searchform" method="get"  >
                            <input type="text" autocomplete="off"   name="s" placeholder="Type and Enter to Search">
                        </form>
                        <div class="close-fixed-search"></div>
                    </div>
                    <div class="dublicated-text"></div>
                </div>
            </div>
            <!--search-form-holder  end-->  
            <!-- Share container  -->
            <div class="share-wrapper isShare">
                <div class="share-container"></div>
            </div>
            <!-- Share container  end-->
            <!-- footer -->
            <footer class="main-footer">
                <div class="fixed-title"><span>404 Page</span></div>
                <div class="footer-social">
                    <ul>
                        <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" target="_blank" ><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#" target="_blank" ><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="#" target="_blank" ><i class="fa fa-tumblr"></i></a></li>
                    </ul>
                </div>
            </footer>
            <!-- footer end-->
        </div>
        <!-- Main end -->
        <!--=============== scripts  ===============-->        
        <script type="text/javascript" src="js/jquery.min.js"></script>
        <script type="text/javascript" src="js/plugins.js"></script>
        <script type="text/javascript" src="js/scripts.js"></script>
    </body>
</html>