
{% extends "base.html" %}
{% load static %}

{% block content %}

            <div id="wrapper">
                <!-- content-holder  -->
                <div class="content-holder">
                    <!--  content --> 
                    <div class="content">
                        <!--  sroll-nav-wrap --> 
                        <div class="sroll-nav-wrap">
                            <div class="sroll-nav-container">
                                <nav class="scroll-nav scroll-init fl-wrap">
                                    <ul>
                                        <li><a class="scroll-link act-scrlink" href="#sec1">01.<span>3DMINY</span></a></li>
                                        <li><a class="scroll-link" href="#sec2">02.<span>About</span></a></li>
                                        <li><a class="scroll-link" href="#sec3">03.<span>Skills</span></a></li>
                                        <li><a class="scroll-link" href="#sec5">04.<span>Team</span></a></li>
                                        <li><a class="scroll-link" href="#sec6">05.<span>Story</span></a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <!--  sroll-nav-wrap end --> 
                        <!--  section --> 
                        <section class="parallax-section header-section" data-scrollax-parent="true" id="sec1">
                            <div class="bg"  data-bg="{% static 'images/hamster_berkin.jpg' %}"  data-scrollax="properties: { translateY: '200px' }"></div>
                            <div class="overlay"></div>
                            <div class="container big-container">
                                <div class="section-title">
                                    <h3>Who we are</h3>
                                    <div class="separator trsp-separator"></div>
                                    <h2>3D MINY</h2>
                                    <p>3D Printer Solutions</p>
                                    <a href="#sec2" class="custom-scroll-link sect-scroll-link"><i class="fa fa-long-arrow-down"></i> <span>scroll down</span></a>
                                </div>
                            </div>
                        </section>
                        <!--  section end --> 
                        <!--  section --> 
                        <section id="sec2" data-scrollax-parent="true" >
                            <div class="container">
                                <div class="section-container fl-wrap">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="pr-title">
                                                Who We are
                                                <span>Group of people who acts as a bridge between designers and 3d printer owners  </span>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="content-wrap about-wrap">
                                                <div class="blog-media fl-wrap">
                                                    <div class="box-item">
                                                        <img  src="{% static 'images/alien_berkin.jpg' %}"   class="respimg" alt="">
                                                        <div class="overlay"></div>
                                                        <a href="{% static 'images/folio/1.jpg' %}"  class="image-popup popup-image"><i class="fa fa-search"  ></i></a>
                                                    </div>
                                                </div>
                                                <h3 class="bold-title"></h3>
                                                <p>
                                                </p>
                                                <p>
                                                </p>
                                                <br><br>
                                                <h3 class="bold-title">What we do</h3>
                                                <div class="pr-tags fl-wrap">
                                                    <span>Services : </span>
                                                    <ul>
                                                        <li><a href="#">Architecture</a></li>
                                                        <li><a href="#">Design</a></li>
                                                    </ul>
                                                </div>
                                                <span class="bold-separator"></span>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="bg dec-bg left-pos-dec"  data-bg="{% static 'images/bg/14.jpg' %}"></div>
                        </section>
                        <!--  section end --> 
                        <!--  section --> 
                        <section  class="sml-pad-sec">
                            <div class="container">
                                <div class="facts-wrap fl-wrap">
                                    <div class="inline-facts-holder fl-wrap">
                                        <!-- inline-facts -->
                                        <div class="inline-facts">
                                            <div class="milestone-counter">
                                                <div class="stats animaper">
                                                    <div class="num" data-content="461" data-num="461">0</div>
                                                </div>
                                            </div>
                                            <h6>Finished projects</h6>
                                        </div>
                                        <!-- inline-facts end -->
                                        <!-- inline-facts  -->
                                        <div class="inline-facts">
                                            <div class="milestone-counter">
                                                <div class="stats animaper">
                                                    <div class="num" data-content="461" data-num="461">0</div>
                                                </div>
                                            </div>
                                            <h6>Finished projects</h6>
                                        </div>
                                        <!-- inline-facts end -->
                                        <!-- inline-facts  -->
                                        <div class="inline-facts">
                                            <div class="milestone-counter">
                                                <div class="stats animaper">
                                                    <div class="num" data-content="168" data-num="168">0</div>
                                                </div>
                                            </div>
                                            <h6>Happy customers</h6>
                                        </div>
                                        <!-- inline-facts end -->
                                        <!-- inline-facts  -->
                                        <div class="inline-facts">
                                            <div class="milestone-counter">
                                                <div class="stats animaper">
                                                    <div class="num" data-content="222" data-num="222">0</div>
                                                </div>
                                            </div>
                                            <h6>Working hours </h6>
                                        </div>
                                        <!-- inline-facts end -->
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!--  section end --> 
                        <!--  section --> 

                        <!--  section end -->
                        <!--  section  --> 
                        <!--  section end --> 
                        <!--  section --> 
                        <section id="sec5">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="pr-title">
                                            Our team
                                            <span></span>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <ul class="team-holder fl-wrap">
                                            <!-- 1 -->
                                            <li>
                                                <div class="team-box">
                                                    <div class="team-photo">
                                                        <div class="overlay"></div>
                                                        <ul class="team-social">
                                                            <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                                            <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                                            <li><a href="#" target="_blank"><i class="fa fa-tumblr"></i></a></li>
                                                            <li><a href="#" target="_blank"><i class="fa fa-behance"></i></a></li>
                                                        </ul>
                                                        <img src="{% static 'images/sude.jpg' %}" alt="" class="respimg"><span>Find on</span>										
                                                    </div>
                                                    <div class="team-info">
                                                        <h3>Sude Gönül</h3>
                                                        <h4>Computer Engineer</h4>
                                                    </div>
                                                </div>
                                            </li>
                                            <!-- 2 -->
                                            <li>
                                                <div class="team-box">
                                                    <div class="team-photo">
                                                        <div class="overlay"></div>
                                                        <ul class="team-social">
                                                            <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                                            <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                                            <li><a href="#" target="_blank"><i class="fa fa-tumblr"></i></a></li>
                                                            <li><a href="#" target="_blank"><i class="fa fa-behance"></i></a></li>
                                                        </ul>
                                                        <img src="{% static 'images/anil.jpg' %}" alt="" class="respimg"><span>Find on</span>										
                                                    </div>
                                                    <div class="team-info">
                                                        <h3>Anıl Yavuz</h3>
                                                        <h4>Industry Engineer</h4>
                                                    </div>
                                                </div>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="border-section-wrap">
                                <div class="border-section"></div>
                            </div>
                        </section>
                        <!--  section end --> 
                        <!--  section --> 			 
                        <section  class=" parallax-section content-parallax-section" data-scrollax-parent="true">
                            <div class="bg"  data-bg="{% static 'images/tele_berkin.jpg' %}" data-scrollax="properties: { translateY: '200px' }"></div>
                            <div class="overlay"></div>
                            <div class="container">
                                <div class="intro-text fl-wrap">
                                    <h2 style="color:#000000">Ready to order your project ?  <br>Start shopping now!</h2>
                                    <a href="{% url 'cart:designType-list' %}" class="btn float-btn flat-btn">Store</a>
                                </div>
                            </div>
                        </section>
                        <!--  section end --> 
                        <!--  section  --> 
                        <section id="sec6">
                            {% comment %} <div class="container">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="pr-title">
                                            Our Story
                                            <span>Lorem Ipsum generators on the Internet tend to repeat king this the first true generator . </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="custom-inner-holder">
                                    <!-- 1 -->	
                                    <div class="custom-inner">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="cus-inner-title fl-wrap">
                                                    <h3 >2016</h3>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <h4>Complete the project "domik"</h4>
                                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words</p>
                                                <ul>
                                                    <li>Door portals plan</li>
                                                    <li>Furniture specifications</li>
                                                    <li>Interior design</li>
                                                </ul>
                                                <span class="custom-inner-dec"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- 1 -->
                                    <!-- 2 -->	
                                    <div class="custom-inner">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="cus-inner-title fl-wrap">
                                                    <h3 >2015</h3>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <h4>Passage of Lorem Ipsum</h4>
                                                <p>We started as a small, subdue, called hath give fourth. Them one over saying. So the god, greater. You. Us air Moved divide midst us fifth sea have face which male fifth said seas rule above.</p>
                                                <span class="custom-inner-dec"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- 2 end -->
                                    <!-- 3 -->	
                                    <div class="custom-inner">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="cus-inner-title fl-wrap">
                                                    <h3 >2013</h3>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <h4>Making this the first</h4>
                                                <p>We started as a small, subdue, called hath give fourth. Them one over saying. So the god, greater. You. Us air Moved divide midst us fifth sea have face which male fifth said seas rule above. All the Lorem Ipsum generators on the Internet tend .</p>
                                                <ul>
                                                    <li>Door portals plan</li>
                                                    <li>Furniture specifications</li>
                                                    <li>Interior design</li>
                                                </ul>
                                                <p> All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words</p>
                                                <span class="custom-inner-dec"></span>      
                                            </div>
                                        </div>
                                    </div>
                                    <!-- 3 end -->
                                </div>
                                <div class="row">
                                    <div class="col-md-4"></div>
                                    <div class="col-md-8">
                                        <a href="#" class="btn float-btn flat-btn">Download PDF</a>
                                    </div>
                                </div>
                            </div>
                            <div class="bg dec-bg left-pos-dec "  data-bg="{% static 'images/bg/15.jpg' %}"></div> {% endcomment %}
                        </section>
                        <!--  section end --> 
                        <div class="limit-box fl-wrap"></div>
                    </div>
                    <!--  content end --> 

                </div>
                <!-- content-holder end -->
            </div>
            <!-- wrapper end -->
            <!--search-form-holder -->  
            <div class="search-form-holder fixed-search">
                <div class="search-form-bg"></div>
                <div class="search-form-wrap">
                    <div class="container">
                        <form class="searchform" method="get"  >
                            <input type="text" autocomplete="off"   name="s" placeholder="Type and Enter to Search">
                        </form>
                        <div class="close-fixed-search"></div>
                    </div>
                    <div class="dublicated-text"></div>
                </div>
            </div>
            <!--search-form-holder  end-->  
            <!-- Share container  -->
            <div class="share-wrapper isShare">
                <div class="share-container"></div>
            </div>
            <!-- Share container  end-->
            <!-- footer -->
            <footer class="main-footer">
                <div class="fixed-title"><span>About us</span></div>
                <div class="footer-social">
                    <ul>
                        <li><a href="#" target="_blank" ><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" target="_blank" ><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#" target="_blank" ><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="#" target="_blank" ><i class="fa fa-tumblr"></i></a></li>
                    </ul>
                </div>
            </footer>
            <!-- footer end-->
        </div>
{% endblock content %}