{% extends "base.html" %}
{% load static %}

{% block content %}
            <div id="wrapper">
                <!-- content-holder  -->
                <div class="content-holder">
                    <!--  content --> 
                    <div class="content">
                        <!--  section  --> 
                        <section>
                            <div class="container">
                                <!-- cart-wrap  -->
                                <div class="cart-wrap fl-wrap">
                                    <!-- cart header  -->
                                    <div class="cart-header fl-wrap">
                                        <div class="row">
                                            <div class="col-md-7">
                                                <h3>Your Cart</h3>
                                                <span class="tottal-items">3 items</span>
                                            </div>
                                            <div class="col-md-5">
                                                <div class="sum-total"> $1250 <span>Total  </span></div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- cart header end  -->    
                                    <!-- cart -->
                                    <div class="cart fl-wrap">
                                        <!-- cart item -->
                                        <div class="cart-item fl-wrap">
                                            <div class="cart-image">
                                                <a href="{% url 'product-single' %}"><img src="{% static 'images/shop/1.jpg' %}" alt=""></a>
                                            </div>
                                            <div class="cart-container">
                                                <table class="table table-border checkout-table">
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <h5 class="product-name"><a href="{% url 'product-single' %}">White wood chair Monro</a></h5>
                                                                <a class="product-cart-cat" href="#">Chairs</a> <a class="product-cart-cat" href="#">Furniture</a>
                                                            </td>
                                                            <td>
                                                                <label for="quantity">Quantity</label>
                                                                <input id="quantity" type="number" name="Quantity" value="1" max="50" min="1" class="order-count">
                                                            </td>
                                                            <td>
                                                                <label for="dropdown4">Color</label>
                                                                <select name="dropdown" id="dropdown4">
                                                                    <option value="1">Red </option>
                                                                    <option value="2">White</option>
                                                                    <option value="3">Black</option>
                                                                    <option value="4">Gray</option>
                                                                </select>
                                                            </td>
                                                            <td>
                                                                <h5 class="order-money">$250.00</h5>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <!-- cart-item-footer -->
                                                <div class="cart-item-footer fl-wrap">
                                                    <div class="row">
                                                        <div class="col-md-10">
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt . </p>
                                                        </div>
                                                        <div class="col-md-2"><a href="#" class="pr-remove"><i class="fa fa-times"></i></a></div>
                                                    </div>
                                                </div>
                                                <!-- cart-item-footer end  -->
                                            </div>
                                        </div>
                                        <!-- cart item end-->
                                        <!-- cart item -->
                                        <div class="cart-item fl-wrap">
                                            <div class="cart-image">
                                                <a href="{% url 'product-single' %}"><img src="{% static 'images/shop/1.jpg' %}" alt=""></a>
                                            </div>
                                            <div class="cart-container">
                                                <table class="table table-border checkout-table">
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <h5 class="product-name"><a href="{% url 'product-single' %}">Big   flat chair Peppi</a></h5>
                                                                <a class="product-cart-cat" href="#">Chairs</a>  
                                                            </td>
                                                            <td>
                                                                <label for="quantity">Quantity</label>
                                                                <input id="quantity2" type="number" name="Quantity" value="1" max="50" min="1" class="order-count">
                                                            </td>
                                                            <td>
                                                                <label for="dropdown3">Color</label>
                                                                <select name="dropdown" id="dropdown3">
                                                                    <option value="1">Red </option>
                                                                    <option value="2">White</option>
                                                                    <option value="3">Black</option>
                                                                    <option value="4">Gray</option>
                                                                </select>
                                                            </td>
                                                            <td>
                                                                <h5 class="order-money">$400.00</h5>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <!-- cart-item-footer -->
                                                <div class="cart-item-footer fl-wrap">
                                                    <div class="row">
                                                        <div class="col-md-10">
                                                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                                                        </div>
                                                        <div class="col-md-2"><a href="#" class="pr-remove"><i class="fa fa-times"></i></a></div>
                                                    </div>
                                                </div>
                                                <!-- cart-item-footer end  -->
                                            </div>
                                        </div>
                                        <!-- cart item end-->                                       
                                        <!-- cart item -->
                                        <div class="cart-item fl-wrap">
                                            <div class="cart-image">
                                                <a href="{% url 'product-single' %}"><img src="{% static 'images/shop/1.jpg' %}" alt=""></a>
                                            </div>
                                            <div class="cart-container">
                                                <table class="table table-border checkout-table">
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <h5 class="product-name"><a href="{% url 'product-single' %}">Smart Lamp Alexa</a></h5>
                                                                <a class="product-cart-cat" href="#">Lamp</a> <a class="product-cart-cat" href="#">Decor</a>
                                                            </td>
                                                            <td>
                                                                <label for="quantity">Quantity</label>
                                                                <input id="quantity3" type="number" name="Quantity" value="1" max="50" min="1" class="order-count">
                                                            </td>
                                                            <td>
                                                                <label for="dropdown2">Color</label>
                                                                <select name="dropdown" id="dropdown2">
                                                                    <option value="1">Red </option>
                                                                    <option value="2">White</option>
                                                                    <option value="3">Black</option>
                                                                    <option value="4">Gray</option>
                                                                </select>
                                                            </td>
                                                            <td>
                                                                <h5 class="order-money">$1100.00</h5>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <!-- cart-item-footer -->
                                                <div class="cart-item-footer fl-wrap">
                                                    <div class="row">
                                                        <div class="col-md-10">
                                                            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                                        </div>
                                                        <div class="col-md-2"><a href="#" class="pr-remove"><i class="fa fa-times"></i></a></div>
                                                    </div>
                                                </div>
                                                <!-- cart-item-footer end  -->
                                            </div>
                                        </div>
                                        <!-- cart item end-->                                       
                                    </div>
                                    <!-- cart end  -->
                                    <!-- COUPON -->
                                    <div class="coupon-holder fl-wrap">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="coupon-form">
                                                    <input type="text" name="coupon" placeholder="Coupon code">
                                                    <button type="submit" class="btn-a">Apply</button>
                                                </div>
                                            </div>
                                            <div class=" col-md-4">
                                                <button type="submit" class="btn float-btn flat-btn">Proceed to Checkout</button>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /COUPON -->
                                </div>
                                <!-- cart-wrap end  -->
                            </div>
                        </section>
                        <!-- section end  -->
                    </div>
                    <!-- content end -->	
                    <div class="show-cart"><i class="fa fa-shopping-cart"></i><span>3</span></div>
                    <!--=============== content-footer   ===============-->
                    <div class="height-emulator"></div>
                    <footer class="content-footer">
                        <div class="footer-inner">
                            <div class="row">
                                <div class="col-md-3">
                                    <a class="footer-logo" href="{% url 'index' %}"><img src="{% static 'images/logo.png' %}" alt=""></a>
                                </div>
                                <div class="col-md-4">
                                    <div class="footer-header fl-wrap"><span>01.</span> Contacts</div>
                                    <div class="footer-box fl-wrap">
                                        <ul>
                                            <li><span>Mail :</span><a href="#" target="_blank">yourmail@domain.com</a></li>
                                            <li> <span>Adress :</span><a href="#" target="_blank">USA 27TH Brooklyn NY</a></li>
                                            <li><span>Phone :</span><a href="#">+7(111)123456789</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="footer-header fl-wrap"><span>02.</span> Subscribe</div>
                                    <div class="footer-box fl-wrap">
                                        <div class="subcribe-form fl-wrap">
                                            <span>Newsletter</span>
                                            <form id="subscribe">
                                                <input class="enteremail" name="email" id="subscribe-email" placeholder="email" spellcheck="false" type="text">
                                                <button type="submit" id="subscribe-button" class="subscribe-button">Submit</button>
                                                <label for="subscribe-email" class="subscribe-message"></label>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="col-md-9">
                                    <div class="fl-wrap policy-box">
                                        <p> &#169; Balkon   2017.  All rights reserved.  </p>
                                    </div>
                                </div>
                            </div>
                            <div class="to-top"><i class="fa fa-long-arrow-up"></i></div>
                        </div>
                    </footer>
                    <!-- content-footer end    -->
                    <div class="cart-overlay"></div>
                    <div class="cart-modal">
                        <div class="cart-modal-wrap fl-wrap">
                            <span class="close-cart">Close <i class="fa fa-times"></i> </span>
                            <h3>Your cart</h3>
                            <ul class="cart-modal-list fl-wrap">
                                <li>
                                    <a class="cart-modal-image" href="{% url 'product-single' %}">
                                    <img src="{% static 'images/shop/1.jpg' %}" alt="">
                                    </a>
                                    <div class="cart-modal-det">
                                        <a href="{% url 'product-single' %}">Amazing Lamp</a>
                                        <div class="quantity"><span>1</span> x <span class="woocommerce-Price-amount">$560</span></div>
                                    </div>
                                    <a href="#" class="remove"><i class="fa fa-times"></i></a>
                                </li>
                                <li>
                                    <a class="cart-modal-image" href="{% url 'product-single' %}">
                                    <img src="{% static 'images/shop/1.jpg' %}" alt="">
                                    </a>
                                    <div class="cart-modal-det">
                                        <a href="{% url 'product-single' %}">Metal Wood Chair</a>
                                        <div class="quantity"><span>1</span> x <span class="woocommerce-Price-amount">$170</span></div>
                                    </div>
                                    <a href="#" class="remove"><i class="fa fa-times"></i></a>
                                </li>
                                <li>
                                    <a class="cart-modal-image" href="{% url 'product-single' %}">
                                    <img src="{% static 'images/shop/1.jpg' %}" alt="">
                                    </a>
                                    <div class="cart-modal-det">
                                        <a href="{% url 'product-single' %}">White Sofa</a>
                                        <div class="quantity"><span>2</span> x <span class="woocommerce-Price-amount">$160</span></div>
                                    </div>
                                    <a href="#" class="remove"><i class="fa fa-times"></i></a>
                                </li>
                            </ul>
                            <div class="cart-modal-total fl-wrap">
                                <span  class="cart-modal-total-title">SUBTOTAL:</span> <span class="woocommerce-Price-amount"> $1050</span>
                            </div>
                            <a href="#" class="btn float-btn flat-btn">View Cart</a>
                            <a href="#" class="btn float-btn flat-btn">Checkout</a>
                        </div>
                    </div>
                </div>
                <!-- content-holder end -->
            </div>
            <!-- wrapper end -->
            <!--search-form-holder -->  
            <div class="search-form-holder fixed-search">
                <div class="search-form-bg"></div>
                <div class="search-form-wrap">
                    <div class="container">
                        <form class="searchform" method="get"  >
                            <input type="text" autocomplete="off"   name="s" placeholder="Type and Enter to Search">
                        </form>
                        <div class="close-fixed-search"></div>
                    </div>
                    <div class="dublicated-text"></div>
                </div>
            </div>
            <!--search-form-holder  end-->  
            <!-- Share container  -->
            <div class="share-wrapper isShare">
                <div class="share-container"></div>
            </div>
            <!-- Share container  end-->
            <!-- footer -->
            <footer class="main-footer">
                <div class="fixed-title"><span>Your Cart</span></div>
                <div class="footer-social">
                    <ul>
                        <li><a href="#" target="_blank" ><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" target="_blank" ><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#" target="_blank" ><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="#" target="_blank" ><i class="fa fa-tumblr"></i></a></li>
                    </ul>
                </div>
            </footer>
            <!-- footer end-->
        </div>
{% endblock %}