
{% extends "base.html" %}
{% load static %}

{% block content %}
        <div id="wrapper">
            <!-- content-holder  -->
            <div class="content-holder">
                <!--Content -->
                <div class="content full-height">
                    <div class="slider-wrap homecarousel lightgallery lg-synk">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">



                                <!-- swiper-slide-->
                                <div class="swiper-slide">
                                    {% comment %} <a href=class=" gallery-popup popgal"><i class="fa fa-search"></i></a>
                                    {% endcomment %}
                                    <img src="{% static 'images/ric_rug.jpg' %}" alt="" style="width:1600px;">
                                    <div class="thumb-info">
                                        <h3 style="color:#ADD8E6"> 3D COMMUNITY </h3>
                                        <br>
                                        <h3 style="color:#ADD8E6"> Get whatever you want </h3>
                                        <h3 style="color:#ADD8E6">As fast as possible</h3>
                                        <h3>
                                            <br> <a href="{% url 'cart:designType-list' %}"
                                                class="btn float-btn flat-btn" style="color:#ADD8E6">Shop now!</a></h3>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <section id="sec2" data-scrollax-parent="true">
                        <div class="container">
                            <div class="section-container fl-wrap">
                                <div class="row">
                                    <div class="col-md-7">
                                        <div class="content-wrap about-wrap">
                                            <h3 class="bold-title" style="color:#ADD8E6">Welcome ! We are Vision <br>
                                                (not the marvel hero) <br> A 3d printing community seeker <br> From
                                                Istanbul
                                            </h3>
                                            <p>
                                            </p>
                                            <br><br>
                                            <span class="bold-separator"></span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="box-item">
                                            <img src="{% static 'images/delivery-truck.png' %}" class="respimg" alt="">
                                            <div class="overlay"></div>
                                            <a href="{% static 'images/delivery-truck.png' %}"
                                                class="image-popup popup-image"><i class="fa fa-search"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>


                    <div class="height-emulator"></div>
                </div>
                <!-- content-holder end -->
            </div>
            <!-- wrapper end -->
            <!--search-form-holder -->
            <div class="search-form-holder fixed-search">
                <div class="search-form-bg"></div>
                <div class="search-form-wrap">
                    <div class="container">
                        <form class="searchform" method="get">
                            <input type="text" autocomplete="off" name="s" placeholder="Type and Enter to Search">
                        </form>
                        <div class="close-fixed-search"></div>
                    </div>
                    <div class="dublicated-text"></div>
                </div>
            </div>
            <!--search-form-holder  end-->
            <!-- Share container  -->
            <div class="share-wrapper isShare">
                <div class="share-container"></div>
            </div>
            <!-- Share container  end-->
            <!-- footer -->
            <footer class="main-footer">
                <div class="footer-social">
                    <ul>
                        <li><a href="https://www.facebook.com/anilyavuuz" target="_blank"><i
                                    class="fa fa-facebook"></i></a></li>
                        {% comment %} <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        {% endcomment %}
                        <li><a href="https://www.instagram.com/sudeeg/" target="_blank"><i
                                    class="fa fa-instagram"></i></a></li>
                        {% comment %} <li><a href="#" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fa fa-tumblr"></i></a></li> {% endcomment %}
                    </ul>
                </div>
            </footer>
        </div>
{% endblock content %}