{% comment %} {% extends "base.html" %}
{% load static %}

{% block content %}

<div class="site-blocks-cover" style="background-image: url({% static 'images/hero.jpg' %});" data-aos="fade">
    <div class="container">
        <div class="row">
            <div class="col-md-4 pt-5 pt-md-0">
            </div>
        </div>
    </div>
</div>

<div class="site-section site-section-sm site-blocks-1">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="">

            </div>
            <div class="col-md- col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="100">
                <svg style="width: 100px; margin-cen: 10px;" role="img" xmlns="http://www.w3.org/2000/svg"
                    fill="#1f4f7c" viewBox="0 0 24 24">
                    <title>Django icon</title>
                    <path
                        d="M11.146 0h3.924v18.165c-2.013.382-3.491.535-5.096.535-4.791 0-7.288-2.166-7.288-6.32 0-4.001 2.65-6.6 6.753-6.6.637 0 1.121.051 1.707.204V0zm0 9.143a3.894 3.894 0 0 0-1.325-.204c-1.988 0-3.134 1.223-3.134 3.364 0 2.09 1.096 3.236 3.109 3.236.433 0 .79-.025 1.35-.102V9.142zM21.314 6.06v9.097c0 3.134-.229 4.638-.917 5.937-.637 1.249-1.478 2.039-3.211 2.905l-3.644-1.733c1.733-.815 2.574-1.529 3.109-2.625.561-1.121.739-2.421.739-5.835V6.059h3.924zM17.39.021h3.924v4.026H17.39V.021z" />
                </svg>
                <div class="text">
                    <h2 class="text-uppercase">Made with Django</h2>
                    <p>Django makes it easy to quickly build awesome web apps.</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %} {% endcomment %}
{% load static %}

<!DOCTYPE HTML>
<html lang="en">
    <head>
        <!--=============== basic  ===============-->
        <meta charset="UTF-8">
        <title>CARAVAN</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="robots" content="index, follow"/>
        <meta name="keywords" content=""/>
        <meta name="description" content=""/>
        <!--=============== css  ===============-->	
           {% comment %} <link rel="stylesheet" href="{% static 'css/style.css' %}"> {% endcomment %}
        <link type="text/css" rel="stylesheet" href="{% static 'css/reset.css' %}"> 
        <link type="text/css" rel="stylesheet" href="{% static 'css/plugins.css' %}"> 
        <link type="text/css" rel="stylesheet" href="{% static 'css/style_own.css' %}"> 
        <link type="text/css" rel="stylesheet" href="{% static 'css/yourstyle.css' %}"> 
        <!--=============== favicons ===============-->
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    </head>
    <body>
        <!-- loader -->
        <div class="loader">
            <div id="movingBallG">
                <div class="movingBallLineG"></div>
                <div id="movingBallG_1" class="movingBallG"></div>
            </div>
        </div>
        <!-- loader end -->
        <!--================= Main   ================-->
        <div id="main">
            <!--================= header ================-->
            <header class="main-header">
                <!-- logo -->
                <a class="logo-holder" href="index.html"><img src="{% static 'images.logo.png %}" alt=""></a>
                <!-- logo end -->  
                <!-- share button-->  
                <div class="show-share-wrap">
                    <div class="show-share"><span>Share</span><img src="{% static 'images.share.png %}" alt=""></div>
                </div>
                <!-- share button end-->  		
                <!-- search button--> 	 
                <div class="show-search show-fixed-search vissearch"><i class="fa fa-search"></i></div>
                <!-- search button end --> 
                <!-- mobile nav --> 
                <div class="nav-button-wrap">
                    <div class="nav-button vis-main-menu"><span></span><span></span><span></span></div>
                </div>
                <!-- mobile nav end--> 
                <!--  navigation --> 
                <div class="nav-holder">
                    <nav>
                        <ul>
                            <li>
                                <a href="index.html" class="act-link">Home </a>
                                <!--second level -->   
                                <ul>
                                    <li><a href="index.html">Slider</a></li>
                                    <li><a href="index2.html">Image</a></li>
                                    <li><a href="index3.html">Video</a></li>
                                    <li><a href="index4.html">Slideshow</a></li>
                                    <li><a href="index5.html">Carousel</a></li>
                                    <li><a href="index6.html">Sidebar menu</a></li>
                                    <li>
                                        <!--third level -->
                                        <a>Onepage</a>
                                        <ul>
											<li><a href="onepage-slider.html">Slider</a></li>
											<li><a href="onepage-image.html">Image</a></li>
											<li><a href="onepage-video.html">Video</a></li>
											<li><a href="onepage-slideshow.html">Slideshow</a></li>
											<li><a href="onepage-carousel.html">Carousel</a></li>
											<li><a href="onepage-sidebarmenu.html">Sidebar menu</a></li>
                                        </ul>
                                        <!--third level end-->
                                    </li>									
                                </ul>
                                <!--second level end-->
                            </li>
                            <li>
                                <a href="portfolio.html">Portfolio</a>
                                <!--second level -->
                                <ul>
                                    <li>
                                        <!--third level -->
                                        <a>Single</a>
                                        <ul>
                                            <li><a href="portfolio-single.html">Carousel</a></li>
                                            <li><a href="portfolio-single2.html">Gallery </a></li>
                                            <li><a href="portfolio-single3.html">Fullwidth Slider</a></li>
                                            <li><a href="portfolio-single4.html">Slider</a></li>
                                            <li><a href="portfolio-single5.html">Video</a></li>
                                            <li><a href="portfolio-single6.html">Vertical Images</a></li>
                                        </ul>
                                        <!--third level end-->
                                    </li>
                                    <li><a href="portfolio2.html">Fullwidth 2</a></li>
                                    <li><a href="portfolio3.html">Sibebar filter</a></li>
                                    <li><a href="portfolio4.html">Boxed</a></li>
                                    <li><a href="portfolio5.html">Boxed 2</a></li>
                                    <li><a href="portfolio6.html">Sibebar filter 2</a></li>
                                    <li><a href="portfolio7.html">Parallax</a></li>
                                    <li><a href="portfolio8.html">Fullwidth 3</a></li>
                                    <li><a href="portfolio9.html">Fullwidth 4</a></li>
                                </ul>
                                <!--second level end-->
                            </li>
                            <li>
                                <a href="about.html"  >About</a>
                                <!--second level end-->
                                <ul>
                                    <li><a href="about-personal.html">Personal</a></li>
                                    <li><a href="services.html">Services</a></li>
                                </ul>
                                <!--second level end-->
                            </li>
                            <li>
                                <a href="contact.html">Contacts </a>
                            </li>
                            <li>
                                <a href="shop.html">Shop</a>
                                <!--second level end-->
                                <ul>
                                    <li><a href="cart.html">Cart</a></li>
                                    <li><a href="product-single.html">Product Single</a></li>
                                </ul>
                                <!--second level end-->
                            </li>
                            <li>
                                <a href="blog.html">Journal</a>
                                <!--second level end-->
                                <ul>
                                    <li><a href="blog-grid.html">Grid</a></li>
                                    <li><a href="blog-masonry.html">Masonry</a></li>
                                    <li><a href="blog-single.html">Post Single</a></li>
                                    <li><a href="404.html">404</a></li>
                                </ul>
                                <!--second level end-->
                            </li>
                        </ul>
                    </nav>
                </div>
                <!-- navigation  end -->
            </header>
            <!-- header  end -->
            <!--=============== wrapper ===============-->
            <div id="wrapper">
                <!-- content-holder  -->
                <div class="content-holder">
                    <!-- home-slider  -->
                    <div class="fs-gallery-wrap home-slider fl-wrap full-height" data-autoplayslider="5000">
                        <div class="slide-progress-container">
                            <div class="slide-progress-content">
                                <div class="slide-progress-warp">
                                    <div class="slide-progress"></div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-container" data-scrollax-parent="true" >
                            <div class="swiper-wrapper"  >
                                <!-- swiper-slide-->
                                <div class="swiper-slide">
                                    <div class="bg"  data-bg="images/bg/1.jpg" data-scrollax="properties: { translateY: '250px' }" ></div>
                                    <a href="images/bg/1.jpg" class="  gallery-popup image-popup"><i class="fa fa-search"  ></i></a>
                                    <div class="overlay"></div>
                                    <!-- hero-wrap-->           
                                    <div class="hero-wrap alt">
                                        <div class="container">
                                            <div class="hero-item">
                                            	<h3>predefined chunks</h3>
                                                <h2>Balkon Architecture <br> Studio</h2>
                                                <div class="clearfix"></div>
                                                <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary .</p>
                                                <div class="clearfix"></div>
                                                <a href="portfolio.html" class="btn float-btn flat-btn">Our portfolio</a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- hero-wrap end-->   
                                </div>
                                <!-- swiper-slide end-->
                                <!-- swiper-slide-->
                                <div class="swiper-slide">
                                    <div class="bg"  data-bg="images/bg/1.jpg" data-scrollax="properties: { translateY: '250px' }" ></div>
                                    <a href="images/bg/1.jpg" class="gallery-popup image-popup"><i class="fa fa-search"  ></i></a>
                                    <div class="overlay"></div>
                                    <!-- hero-wrap-->           
                                    <div class="hero-wrap alt">
                                        <div class="container">
                                            <div class="hero-item">
                                            	<h3>molestie faucibus</h3>                                            
                                                <h2> Architecture Project<br> Title</h2>
                                                <div class="clearfix"></div>
                                                <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary .</p>
                                                <div class="clearfix"></div>
                                                <a href="portfolio-single.html" class="btn float-btn flat-btn">View Project</a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- hero-wrap end-->   
                                </div>
                                <!-- swiper-slide end-->
                                <!-- swiper-slide-->
                                <div class="swiper-slide">
                                    <div class="bg"  data-bg="images/bg/1.jpg" data-scrollax="properties: { translateY: '250px' }" ></div>
                                    <a href="images/bg/1.jpg" class="  gallery-popup image-popup"><i class="fa fa-search"  ></i></a>
                                    <div class="overlay"></div>
                                    <!-- hero-wrap-->           
                                    <div class="hero-wrap alt">
                                        <div class="container">
                                            <div class="hero-item">
                                            	<h3>tend to repeat</h3>                                            
                                                <h2> Interior <br> Project Title</h2>
                                                <div class="clearfix"></div>
                                                <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary .</p>
                                                <div class="clearfix"></div>
                                                <a href="portfolio-single.html" class="btn float-btn flat-btn">View Project</a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- hero-wrap end-->   
                                </div>
                                <!-- swiper-slide end-->
                                <!-- swiper-slide-->
                                <div class="swiper-slide">
                                    <div class="bg"  data-bg="images/bg/1.jpg" data-scrollax="properties: { translateY: '250px' }" ></div>
                                    <a href="images/bg/1.jpg" class="gallery-popup image-popup"><i class="fa fa-search"  ></i></a>
                                    <div class="overlay"></div>
                                    <!-- hero-wrap-->           
                                    <div class="hero-wrap alt">
                                        <div class="container">
                                            <div class="hero-item">
                                            	<h3>Cras lacinia magna</h3>                                              
                                                <h2> Our services <br> What we do</h2>
                                                <div class="clearfix"></div>
                                                <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary .</p>
                                                <div class="clearfix"></div>
                                                <a href="services.html" class="btn float-btn flat-btn">Our Services</a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- hero-wrap end-->   
                                </div>
                                <!-- swiper-slide end-->
                            </div>
                            <div class="sw-button swiper-button-next"><i class="fa fa-angle-right"></i></div>
                            <div class="sw-button swiper-button-prev"><i class="fa fa-angle-left"></i></div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                    <!-- home-slider end-->
                    <!--content-->	 
                    <div class="content">
                        <!--section -->	
                        <section id="sec2" data-scrollax-parent="true" >
                            <div class="container">
                                <div class="section-container fl-wrap">
                                    <div class="row">
                                        <div class="col-md-7">
                                            <div class="content-wrap about-wrap">
                                                <h3 class="bold-title">Welcome !  We are Balkon .  <br>   Architecture Studio <br> From NY</h3>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras lacinia magna vel molestie faucibus. Donec auctor et urnaLorem ipsum dolor sit amet, consectetur adipiscing elit. Cras lacinia magna vel molestie faucibus.  
                                                    Cras lacinia magna vel molestie faucibus. Donec auctor et urnaLorem ipsum dolor sit amet, consectetur adipiscing elit. Cras lacinia magna vel molestie faucibus.
                                                </p>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras lacinia magna vel molestie faucibus. Donec auctor et urnaLorem ipsum dolor sit amet, consectetur adipiscing elit.  
                                                </p>
                                                <br><br>
                                                <h3 class="bold-title">What we do</h3>
                                                <div class="pr-tags fl-wrap">
                                                    <span>Services : </span>
                                                    <ul>
                                                        <li><a href="#">Architecture</a></li>
                                                        <li><a href="#">Design</a></li>
                                                        <li><a href="#">Photography</a></li>
                                                    </ul>
                                                </div>
                                                <span class="bold-separator"></span>
                                                <div class="clearfix"></div>
                                                <a href="portfolio.html" class="btn float-btn flat-btn">Our portfolio</a>
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="box-item">
                                                <img  src="images/folio/1.jpg"  class="respimg" alt="">
                                                <div class="overlay"></div>
                                                <a href="images/folio/1.jpg" class="image-popup popup-image"><i class="fa fa-search"  ></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="bg dec-bg left-pos-dec"  data-bg="images/bg/14.jpg"></div>
                        </section>
                        <!--section end  -->	
                        <!--section -->	
                        <section  >
                            <div class="bg"  data-bg="images/bg/1.jpg"></div>
                            <div class="overlay"></div>
                            <div class="container">
                                <div class="intro-text fl-wrap">
                                    <h2>Entrust your project <br>to our team of  <br>professionals</h2>
                                    <a href="services.html" class="btn float-btn flat-btn">Our Services</a>
                                    <a href="contact.html" class="btn float-btn flat-btn">Get in Touch</a>
                                </div>
                            </div>
                        </section>
                        <!--section end  -->	
                        <!--section -->	                             	 
                        <section >
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="pr-title">
                                            Our Featured Work
                                            <span>Lorem Ipsum generators on the Internet tend to repeat king this the first true generator . </span>
                                        </div>
                                    </div>
                                </div>
                                <!--parallax-item -->	
                                <div class="row">
                                    <div class="col-md-5"></div>
                                    <div class="col-md-7">
                                        <div class="parallax-item fl-wrap" data-scrollax-parent="true">
                                            <div class="parallax-header fl-wrap">
                                                <span>01.</span>
                                                <ul>
                                                    <li><a href="#">Design</a></li>
                                                    <li><a href="#">Architecture </a></li>
                                                </ul>
                                            </div>
                                            <img  src="images/folio/2.jpg"   alt="">
                                            <div class="parallax-text left-pos" data-scrollax="properties: { translateY: '-250px' }">
                                                <h3><a href="portfolio-single.html">Theatre de Stoep</a></h3>
                                                <h4>There are many variations of passages of Lorem Ipsum</h4>
                                                <a href="portfolio-single.html" class="btn float-btn flat-btn">View project</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--parallax-item end-->	
                                <!--parallax-item -->	
                                <div class="row">
                                    <div class="col-md-7">
                                        <div class="parallax-item fl-wrap" data-scrollax-parent="true">
                                            <div class="parallax-header fl-wrap">
                                                <span>02.</span>
                                                <ul>
                                                    <li><a href="#">Design</a></li>
                                                    <li><a href="#">Architecture </a></li>
                                                </ul>
                                            </div>
                                            <img  src="images/folio/1.jpg"   alt="">
                                            <div class="parallax-text right-pos" data-scrollax="properties: { translateY: '-250px' }">
                                                <h3><a href="portfolio-single.html">New Acropolis Museum</a></h3>
                                                <h4>There are many variations of passages of Lorem Ipsum</h4>
                                                <a href="portfolio-single.html" class="btn float-btn flat-btn">View project</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--parallax-item end-->	                    
                                <!--parallax-item -->	
                                <div class="row">
                                    <div class="col-md-5"></div>
                                    <div class="col-md-7">
                                        <div class="parallax-item fl-wrap" data-scrollax-parent="true">
                                            <div class="parallax-header fl-wrap">
                                                <span>03.</span>
                                                <ul>
                                                    <li><a href="#">Design</a></li>
                                                    <li><a href="#">Architecture </a></li>
                                                </ul>
                                            </div>
                                            <img  src="images/folio/1.jpg"   alt="">
                                            <div class="parallax-text left-pos" data-scrollax="properties: { translateY: '-250px' }">
                                                <h3><a href="portfolio-single.html">Theatre de Stoep</a></h3>
                                                <h4>There are many variations of passages of Lorem Ipsum</h4>
                                                <a href="portfolio-single.html" class="btn float-btn flat-btn">View project</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--parallax-item end-->	
                                <!--parallax-item -->	
                                <div class="row">
                                    <div class="col-md-7">
                                        <div class="parallax-item fl-wrap" data-scrollax-parent="true">
                                            <div class="parallax-header fl-wrap">
                                                <span>04.</span>
                                                <ul>
                                                    <li><a href="#">Design</a></li>
                                                    <li><a href="#">Architecture </a></li>
                                                </ul>
                                            </div>
                                            <img  src="images/folio/1.jpg"   alt="">
                                            <div class="parallax-text right-pos" data-scrollax="properties: { translateY: '-250px' }">
                                                <h3><a href="portfolio-single.html">New Acropolis Museum</a></h3>
                                                <h4>There are many variations of passages of Lorem Ipsum</h4>
                                                <a href="portfolio-single.html" class="btn float-btn flat-btn">View project</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--parallax-item end-->	                       
                            </div>
                            <div class="partcile-dec" data-parcount="250"></div>
                        </section>
                        <!--section end  -->	
                        <!--section -->	
                        <section class="parallax-section header-section  " data-scrollax-parent="true" id="sec6">
                            <div class="bg"  data-bg="images/bg/1.jpg" data-scrollax="properties: { translateY: '200px' }"></div>
                            <div class="overlay"></div>
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="pr-title">
                                            Testimonials
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="single-slider testilider fl-wrap" data-effects="slide">
                                            <div class="swiper-container">
                                                <div class="swiper-wrapper">
                                                    <!-- swiper-slide -->
                                                    <div class="swiper-slide">
                                                        <div class="testi-item fl-wrap">
                                                            <h3>Andy Smith</h3>
                                                            <p>"All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words"</p>
                                                            <a href="#" class="btn float-btn flat-btn" target="_blank">Via Twitter</a>
                                                        </div>
                                                    </div>
                                                    <!-- swiper-slide end-->
                                                    <!-- swiper-slide -->
                                                    <div class="swiper-slide">
                                                        <div class="testi-item fl-wrap">
                                                            <h3>Liza Mirovsky</h3>
                                                            <p>"Vestibulum orci felis, ullamcorper non condimentum non, ultrices ac nunc. Mauris non ligula suscipit, vulputate mi accumsan, dapibus felis. Nullam sed sapien dui. Nulla auctor sit amet sem non porta. Integer iaculis tellus nulla, quis imperdiet magna venenatis vitae"</p>
                                                            <a href="#" class="btn float-btn flat-btn" target="_blank">Via Facebook</a>
                                                        </div>
                                                    </div>
                                                    <!-- swiper-slide end-->
                                                    <!-- swiper-slide -->
                                                    <div class="swiper-slide">
                                                        <div class="testi-item fl-wrap">
                                                            <h3>Gary Trust</h3>
                                                            <p>"If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text."</p>
                                                            <a href="#" class="btn float-btn flat-btn" target="_blank">Via Myspace</a>
                                                        </div>
                                                    </div>
                                                    <!-- swiper-slide end-->
                                                </div>
                                                <div class="swiper-pagination"></div>
                                                <div class="swiper-button-prev"><i class="fa fa-angle-left"></i></div>
                                                <div class="swiper-button-next"><i class="fa fa-angle-right"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!--section end  -->	
                        <!--section -->	
                        <section>
                            <div class="container">
                                <div class="clients-list fl-wrap">
                                    <ul>
                                        <li><a href="#" target="_blank"> <img src="images/clients/1.jpg" alt=""> </a></li>
                                        <li><a href="#" target="_blank"> <img src="images/clients/1.jpg" alt=""> </a></li>
                                        <li><a href="#" target="_blank"> <img src="images/clients/1.jpg" alt=""> </a></li>
                                        <li><a href="#" target="_blank"> <img src="images/clients/1.jpg" alt=""> </a></li>
                                        <li><a href="#" target="_blank"> <img src="images/clients/1.jpg" alt=""> </a></li>
                                    </ul>
                                </div>
                            </div>
                        </section>
                        <!--section end  -->	
                        <!--social-wrap -->	  
                        <div class="social-wrap fl-wrap">
                            <ul>
                                <li><a href="#" target="_blank" ><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" target="_blank" ><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#" target="_blank" ><i class="fa fa-pinterest"></i></a></li>
                                <li><a href="#" target="_blank" ><i class="fa fa-tumblr"></i></a></li>
                            </ul>
                        </div>
                        <!--social-wrap end-->	
                    </div>
                    <!-- content  end --> 
                    <!--=============== content-footer   ===============-->
                    <div class="height-emulator"></div>
                    <footer class="content-footer">
                        <div class="footer-inner">
                            <div class="row">
                                <div class="col-md-3">
                                    <a class="footer-logo" href="index.html"><img src="images/logo.png" alt=""></a>
                                </div>
                                <div class="col-md-4">
                                    <div class="footer-header fl-wrap"><span>01.</span> Contacts</div>
                                    <div class="footer-box fl-wrap">
                                        <ul>
                                            <li><span>Mail :</span><a href="#" target="_blank">yourmail@domain.com</a></li>
                                            <li> <span>Adress :</span><a href="#" target="_blank">USA 27TH Brooklyn NY</a></li>
                                            <li><span>Phone :</span><a href="#">+7(111)123456789</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="footer-header fl-wrap"><span>02.</span> Subscribe</div>
                                    <div class="footer-box fl-wrap">
                                        <div class="subcribe-form fl-wrap">
                                            <span>Newsletter</span>
                                            <form id="subscribe">
                                                <input class="enteremail" name="email" id="subscribe-email" placeholder="email" spellcheck="false" type="text">
                                                <button type="submit" id="subscribe-button" class="subscribe-button">Submit</button>
                                                <label for="subscribe-email" class="subscribe-message"></label>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="col-md-9">
                                    <div class="fl-wrap policy-box">
                                        <p> &#169; Balkon   2017.  All rights reserved.  </p>
                                    </div>
                                </div>
                            </div>
                            <div class="to-top"><i class="fa fa-long-arrow-up"></i></div>
                        </div>
                    </footer>
                    <!-- content-footer end    -->
                </div>
                <!-- content-holder end -->
            </div>
            <!-- wrapper end -->
            <!--search-form-holder -->  
            <div class="search-form-holder fixed-search">
                <div class="search-form-bg"></div>
                <div class="search-form-wrap">
                    <div class="container">
                        <form class="searchform" method="get"  >
                            <input type="text" autocomplete="off"   name="s" placeholder="Type and Enter to Search">
                        </form>
                        <div class="close-fixed-search"></div>
                    </div>
                    <div class="dublicated-text"></div>
                </div>
            </div>
            <!--search-form-holder  end-->  
            <!-- Share container  -->
            <div class="share-wrapper isShare">
                <div class="share-container"></div>
            </div>
            <!-- Share container  end-->
            <!-- footer -->
            <footer class="main-footer">
                <div class="fixed-title"><span>Home Slider</span></div>
                <div class="footer-social">
                    <ul>
                        <li><a href="#" target="_blank" ><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" target="_blank" ><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#" target="_blank" ><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="#" target="_blank" ><i class="fa fa-tumblr"></i></a></li>
                    </ul>
                </div>
            </footer>
            <!-- footer end-->
        </div>
        <!-- Main end -->
        <!--=============== scripts  ===============-->
        <script type="text/javascript" src="js/jquery.min.js"></script>
        <script type="text/javascript" src="js/plugins.js"></script>
        <script type="text/javascript" src="js/scripts.js"></script>
    </body>
</html>