{% extends "base.html" %}
{% load static %}

{% block content %}
        <div id="wrapper">
            <!-- content-holder  -->
            <div class="content-holder">
                <!--  content -->
                <div class="content">
                    <!--  section  -->
                    <section class="parallax-section header-section" data-scrollax-parent="true">
                        <div class="bg" data-bg="{% static 'images/ricky.jpg'%}"
                            data-scrollax="properties: { translateY: '200px' }"></div>
                        <div class="overlay op1"></div>
                        <div class="container big-container">
                            <div class="section-title">
                                <h3>3D Printers</h3>
                                <div class="separator trsp-separator"></div>
                                <h2>Your design <br> Our vision </h2>
                                <p></p>
                                {% comment %} <a href="#sec1" class="custom-scroll-link sect-scroll-link"><i
                                        class="fa fa-long-arrow-down"></i> <span>scroll down</span></a> {% endcomment %}
                            </div>
                        </div>
                    </section>
                    <!--  section end -->
                    <!--  section  -->
                    <section>
                        <div class="container">
                            <div class="product-filter-wrap fl-wrap">
                                <div class="product-cat-filter">
                                    <span>Filter : </span>
                                    <a href="#">Chair</a>
                                    <a href="#">Decor</a>
                                    <a href="#">Sofa</a>
                                    <a href="#">Lamp</a>
                                </div>
                                <div class="product-cat-filter">
                                    <span>Price : </span>
                                    <a href="#">Low to high</a>
                                    <a href="#">High to low</a>
                                </div>
                                <a href="#" class="btn   flat-btn show-exfilter">Extended Filter</a>
                            </div>
                            <div class="product-mainfilter  fl-wrap">
                                <div class="row">
                                    <!-- product-mainfilter-item-->
                                    <div class="col-md-4">
                                        <div class="product-mainfilter-item fl-wrap">
                                            <span class="product-mainfilter-header">Material</span>
                                            <ul class="material-list">
                                                <li><a href="#">Wood</a></li>
                                                <li><a href="#">Plastic</a></li>
                                                <li><a href="#">Metal</a></li>
                                                <li><a href="#">Textile</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- product-mainfilter-item end -->
                                    <!-- product-mainfilter-item-->
                                    <div class="col-md-4">
                                        <div class="product-mainfilter-item fl-wrap">
                                            <span class="product-mainfilter-header">Color</span>
                                            <ul class="colorfilter-list">
                                                <li><a href="#" style="background:#B3CCE6"></a></li>
                                                <li><a href="#" style="background:#CC8080"> </a></li>
                                                <li><a href="#" style="background:#CCE6B3"> </a></li>
                                                <li><a href="#" style="background:#E6E680"> </a></li>
                                                <li><a href="#" style="background:#B3E6E6"> </a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- product-mainfilter-item end -->
                                    <!-- product-mainfilter-item-->
                                    <div class="col-md-4">
                                        <div class="product-mainfilter-item fl-wrap no-decline">
                                            <span class="product-mainfilter-header">Size</span>
                                            <ul class="size-list">
                                                <li><a href="#">XL/XXl</a></li>
                                                <li><a href="#">M/L</a></li>
                                                <li><a href="#">S/M</a></li>
                                                <li><a href="#">XS/S</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- product-mainfilter-item end -->
                                </div>
                            </div>
                            <!-- products -->

                            <div class="products fl-wrap">
                                {% comment %} <!-- product item-->{% for dimensionalPrinter in object_list %}
                                <div class="product-cat-mains">
                                    <div class="product-cat-img fl-wrap">
                                        <img src="{{ dimensionalPrinter.image.url }}" alt="">
                                        <a href="{% url 'product-single'%}">View</a>
                                    </div>
                                    <div class="product-cat-title">
                                        <h4><a href="{% url 'product-single'%}">{{ dimensionalPrinter.title }}</a></h4>
                                        <div class="product-cats"><a href="#">3D Printer</a></div>
                                        <span class="product-price">${{ dimensionalPrinter.get_price }}</span>
                                    </div>
                                </div> {% endcomment %}
                                <!-- product item end-->
                                {% endfor %}
                            </div>

                            <!-- products end -->
                            <div class="content-nav">
                                <ul>
                                    <li><a href="{% url 'portfolio-single'%}" class="ln"><i
                                                class="fa fa fa-angle-left"></i><span class="tooltip">Prev - Page
                                                1</span></a></li>
                                    <li>
                                        <a href="#" class="cur-page"><span>Page 02. </span></a>
                                    </li>
                                    <li><a href="{% url 'portfolio-single2'%}" class="rn"><i
                                                class="fa fa fa-angle-right"></i><span class="tooltip">Next - Page 3
                                            </span></a></li>
                                </ul>
                            </div>
                        </div>
                    </section>
                    <!--  section end -->
                </div>
                <!-- content end -->
                <div class="show-cart"><i class="fa fa-shopping-cart"></i><span>3</span></div>

                <div class="cart-overlay"></div>
                <div class="cart-modal">
                    <div class="cart-modal-wrap fl-wrap">
                        <span class="close-cart">Close <i class="fa fa-times"></i> </span>
                        <h3>Your cart</h3>
                        <ul class="cart-modal-list fl-wrap">
                            <li>
                                <a class="cart-modal-image" href="{% url 'product-single'%}">
                                    <img src="{% static 'images/shop/1.jpg'%}" alt="">
                                </a>
                                <div class="cart-modal-det">
                                    <a href="{% url 'product-single'%}">Amazing Lamp</a>
                                    <div class="quantity"><span>1</span> x <span
                                            class="woocommerce-Price-amount">$560</span></div>
                                </div>
                                <a href="#" class="remove"><i class="fa fa-times"></i></a>
                            </li>
                            <li>
                                <a class="cart-modal-image" href="{% url 'product-single'%}">
                                    <img src="{% static 'images/shop/1.jpg'%}" alt="">
                                </a>
                                <div class="cart-modal-det">
                                    <a href="{% url 'product-single'%}">Metal Wood Chair</a>
                                    <div class="quantity"><span>1</span> x <span
                                            class="woocommerce-Price-amount">$170</span></div>
                                </div>
                                <a href="#" class="remove"><i class="fa fa-times"></i></a>
                            </li>
                            <li>
                                <a class="cart-modal-image" href="{% url 'product-single'%}">
                                    <img src="{% static 'images/shop/1.jpg'%}" alt="">
                                </a>
                                <div class="cart-modal-det">
                                    <a href="{% url 'product-single'%}">White Sofa</a>
                                    <div class="quantity"><span>2</span> x <span
                                            class="woocommerce-Price-amount">$160</span></div>
                                </div>
                                <a href="#" class="remove"><i class="fa fa-times"></i></a>
                            </li>
                        </ul>
                        <div class="cart-modal-total fl-wrap">
                            <span class="cart-modal-total-title">SUBTOTAL:</span> <span
                                class="woocommerce-Price-amount"> $1050</span>
                        </div>
                        <a href="#" class="btn float-btn flat-btn">View Cart</a>
                        <a href="#" class="btn float-btn flat-btn">Checkout</a>
                    </div>
                </div>
            </div>
            <!-- content-holder end -->
        </div>
        <!-- wrapper end -->
        <!--search-form-holder -->
        <div class="search-form-holder fixed-search">
            <div class="search-form-bg"></div>
            <div class="search-form-wrap">
                <div class="container">
                    <form class="searchform" method="get">
                        <input type="text" autocomplete="off" name="s" placeholder="Type and Enter to Search">
                    </form>
                    <div class="close-fixed-search"></div>
                </div>
                <div class="dublicated-text"></div>
            </div>
        </div>
        <!--search-form-holder  end-->
        <!-- Share container  -->
        <div class="share-wrapper isShare">
            <div class="share-container"></div>
        </div>
        <!-- Share container  end-->
        <!-- footer -->
        <footer class="main-footer">
            <div class="fixed-title"><span>Shop</span></div>
            <div class="footer-social">
                <ul>
                    <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fa fa-tumblr"></i></a></li>
                </ul>
            </div>
        </footer>
        <!-- footer end-->
    </div>
{% endblock content %}